.start.backup
[{"id":"6fdb166a.8db4f8","type":"tab","label":"Flow 1"},{"id":"b1527360.def25","type":"tab","label":"Flow 4"},{"id":"d9e7d871.372748","type":"firebase config","z":"","name":"EMAIL Watur","firebaseurl":"watur-a5416","loginType":"email","api":"AIzaSyCgFES8W57WeBOejJYiwwKsn0vQ1AYiTDU","jwt":"[]","admin":false,"debug":false},{"id":"e811f72d.fb0848","type":"firebase config","z":"","name":"Read Firebase","firebaseurl":"watur-a5416","loginType":"anonymous","api":"AIzaSyCgFES8W57WeBOejJYiwwKsn0vQ1AYiTDU","jwt":"[]","admin":false,"debug":false},{"id":"627b057d.ea1c7c","type":"firebase config","z":"","name":"Anon Only","firebaseurl":"watur-a5416","loginType":"anonymous","api":"AIzaSyCgFES8W57WeBOejJYiwwKsn0vQ1AYiTDU","jwt":"[]","admin":false,"debug":false},{"id":"713b4e4c.9f0e","type":"postgresdb","z":"6fdb166a.8db4f8","hostname":"localhost","port":"5432","db":"noderedtest","ssl":false},{"id":"c417ec80.f9d5b","type":"firebase auth","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","x":210.50001525878906,"y":87.2500171661377,"wires":[["c885aab9.4eccc8"]]},{"id":"b034dbbc.181b08","type":"firebase modify","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","childpath":"msg.childpath","method":"set","value":"msg.payload.synthLick","priority":"msg.priority","x":1010.5000152587891,"y":398.50000762939453,"wires":[[]]},{"id":"c885aab9.4eccc8","type":"change","z":"b1527360.def25","name":"Persist UID w/ Flow Context","rules":[{"t":"set","p":"context.uid","pt":"global","to":"payload.uid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.7500686645508,"y":86.7500171661377,"wires":[["1fbba8cb.023f37"]]},{"id":"260bee1a.81c972","type":"function","z":"b1527360.def25","name":"Inject a Synth Lick as Data","func":"var uid = flow.get('uid');\nvar firebasePath = msg.topic + \"/\" + uid;\n\nvar synthLick = {\n    childpath: firebasePath.toString(),\n    payload: msg.payload,\n    writepath: firebasePath\n};\n\nreturn synthLick;","outputs":1,"noerr":0,"x":626.0000152587891,"y":329.7500047683716,"wires":[["b034dbbc.181b08","e35b4c4.46748b"]]},{"id":"1fbba8cb.023f37","type":"debug","z":"b1527360.def25","name":" uid in context (global) ?","active":true,"console":"false","complete":"payload.uid","x":990.5000152587891,"y":85.00000095367432,"wires":[]},{"id":"e3389328.4868c","type":"comment","z":"b1527360.def25","name":"Put UID Token into global.context","info":"","x":181.875,"y":51.25000190734863,"wires":[]},{"id":"bcacad1d.3ace7","type":"comment","z":"b1527360.def25","name":"Shape call to a Firebase Resource","info":"","x":178.125,"y":275.00000381469727,"wires":[]},{"id":"e35b4c4.46748b","type":"debug","z":"b1527360.def25","name":"","active":true,"console":"false","complete":"true","x":879.3750152587891,"y":286.25000381469727,"wires":[]},{"id":"139e802.3645e8","type":"inject","z":"6fdb166a.8db4f8","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.50001525878906,"y":96.00000190734863,"wires":[["48f60def.a3bde4"]]},{"id":"5c5b425f.b096bc","type":"template","z":"6fdb166a.8db4f8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":500.50001525878906,"y":94.00000190734863,"wires":[["ea6b935c.9da47"]]},{"id":"ea6b935c.9da47","type":"postgres","z":"6fdb166a.8db4f8","postgresdb":"713b4e4c.9f0e","name":"","output":true,"outputs":1,"x":673.7500114440918,"y":102.50000095367432,"wires":[["474d24d3.68515c","b617954c.db7858"]]},{"id":"474d24d3.68515c","type":"debug","z":"6fdb166a.8db4f8","name":"query output","active":false,"console":"false","complete":"true","x":849.5000152587891,"y":216.00000190734863,"wires":[]},{"id":"b617954c.db7858","type":"http request","z":"6fdb166a.8db4f8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","tls":"","x":930.2500152587891,"y":102.00000143051147,"wires":[["e69248fb.420848"]]},{"id":"e69248fb.420848","type":"debug","z":"6fdb166a.8db4f8","name":"http result","active":false,"console":"false","complete":"payload","x":1132.000015258789,"y":103.25000190734863,"wires":[]},{"id":"48f60def.a3bde4","type":"function","z":"6fdb166a.8db4f8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1;\nreturn msg;","outputs":1,"noerr":0,"x":300.50001525878906,"y":92.00000190734863,"wires":[["5c5b425f.b096bc"]]},{"id":"e13cc5f4.26cb68","type":"http in","z":"b1527360.def25","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":142.5,"y":658.75,"wires":[["78158427.4e375c","ee0efe43.f855f","f4f25c16.0bc84"]]},{"id":"693f6be0.872654","type":"http response","z":"b1527360.def25","name":"","x":746.5,"y":674.75,"wires":[]},{"id":"78158427.4e375c","type":"debug","z":"b1527360.def25","name":"http input","active":false,"console":"false","complete":"payload","x":372.75000381469727,"y":755.5000076293945,"wires":[]},{"id":"ee0efe43.f855f","type":"function","z":"b1527360.def25","name":"reply to http call","func":"msg.payload='reply from http';\nreturn msg;","outputs":1,"noerr":0,"x":510.5,"y":608.75,"wires":[["693f6be0.872654"]]},{"id":"b43cb276.31f57","type":"comment","z":"b1527360.def25","name":"Music Objects Input","info":"","x":138.125,"y":592.5000095367432,"wires":[]},{"id":"c490b1d.807df5","type":"change","z":"b1527360.def25","name":"","rules":[{"t":"set","p":"uid","pt":"flow","to":"context.uid","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"/turtles","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":153.75,"y":326.2500057220459,"wires":[["260bee1a.81c972"]]},{"id":"f4f25c16.0bc84","type":"trigger","z":"b1527360.def25","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":381.87500762939453,"y":521.2500076293945,"wires":[["c490b1d.807df5"]]}]