.start.backup
[{"id":"77e21463.a3217c","type":"tab","label":"1 day pulse"},{"id":"6fdb166a.8db4f8","type":"tab","label":"Create Music Flow"},{"id":"b1527360.def25","type":"tab","label":"Flow to Firebase"},{"id":"b164931e.91d28","type":"tab","label":"PG 90 import"},{"id":"c0f03b29.c08a08","type":"tab","label":"Flow 1"},{"id":"5ab57853.d27ce8","type":"tab","label":"Graph and Pull 90D with PG "},{"id":"627b057d.ea1c7c","type":"firebase config","z":"","name":"Anon Only","firebaseurl":"watur-a5416","loginType":"anonymous","api":"AIzaSyCgFES8W57WeBOejJYiwwKsn0vQ1AYiTDU","jwt":"[]","admin":false,"debug":false},{"id":"713b4e4c.9f0e","type":"postgresdb","z":"6fdb166a.8db4f8","hostname":"localhost","port":"5432","db":"noderedtest","ssl":false},{"id":"c01fd61f.868858","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"noderedtest","ssl":false},{"id":"a3e6f214.1839b","type":"ui_tab","z":"","name":"90 Day Turbidity","icon":"dashboard","order":1},{"id":"ec70f501.e75958","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5da1a57e.429f1c","type":"ui_group","z":"","name":"Turbidity","tab":"a3e6f214.1839b","disp":false,"width":"12"},{"id":"c417ec80.f9d5b","type":"firebase auth","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","x":210.50001525878906,"y":87.2500171661377,"wires":[["c885aab9.4eccc8"]]},{"id":"b034dbbc.181b08","type":"firebase modify","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1020.5000152587891,"y":488.50000680983067,"wires":[[]]},{"id":"c885aab9.4eccc8","type":"change","z":"b1527360.def25","name":"Persist UID w/ Flow Context","rules":[{"t":"set","p":"context.uid","pt":"global","to":"payload.uid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.0001068115234,"y":86.7500171661377,"wires":[["1fbba8cb.023f37"]]},{"id":"260bee1a.81c972","type":"function","z":"b1527360.def25","name":"Inject a Synth Lick as Data","func":"var out = [];\nvar propAsKey = function (oneProp) {\n    var target = Object.keys(oneProp)[0];\n    return oneProp[target];\n};\n\n['actions', 'cassettes'].forEach( function(topic) {\n    \n    // code here\n    var uid = flow.get('uid');\n    var firebasePath = topic + \"/\" + uid;\n\n    var newPayload = propAsKey(msg.payload[topic]);    \n\n    var synthLick = {\n        childpath: firebasePath,\n        payload: JSON.stringify(newPayload)        \n    };\n    \n    out.push(synthLick);\n    \n});\n\n\nreturn out;\n","outputs":"2","noerr":0,"x":554.46435546875,"y":332.78570556640625,"wires":[["e35b4c4.46748b","b034dbbc.181b08"],["b034dbbc.181b08","4f4ba18d.aab2b"]]},{"id":"1fbba8cb.023f37","type":"debug","z":"b1527360.def25","name":" uid in context (global) ?","active":true,"console":"false","complete":"payload.uid","x":990.5000152587891,"y":85.00000095367432,"wires":[]},{"id":"e3389328.4868c","type":"comment","z":"b1527360.def25","name":"Put UID Token into global.context","info":"","x":181.875,"y":51.25000190734863,"wires":[]},{"id":"bcacad1d.3ace7","type":"comment","z":"b1527360.def25","name":"Shape call to a Firebase Resource","info":"","x":178.125,"y":275.00000381469727,"wires":[]},{"id":"e35b4c4.46748b","type":"debug","z":"b1527360.def25","name":"","active":false,"console":"false","complete":"true","x":1058.125015258789,"y":282.50000381469727,"wires":[]},{"id":"139e802.3645e8","type":"inject","z":"6fdb166a.8db4f8","name":"trigger MASSIVE 90 day upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184.9285888671875,"y":611.7142944335938,"wires":[["48f60def.a3bde4"]]},{"id":"5c5b425f.b096bc","type":"template","z":"6fdb166a.8db4f8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{!--SELECT * FROM turbidity WHERE value > $param1 AND value < $param2--}}\n\nselect * from turbidity where datetime_created between '2017-06-21 0:0' and '2017-7-1 0:00'","x":508.50001525878906,"y":692.0000267028809,"wires":[["ea6b935c.9da47"]]},{"id":"ea6b935c.9da47","type":"postgres","z":"6fdb166a.8db4f8","postgresdb":"713b4e4c.9f0e","name":"","output":true,"outputs":1,"x":686.0356864929199,"y":691.9285974502563,"wires":[["28cf26fa.93970a"]]},{"id":"b617954c.db7858","type":"http request","z":"6fdb166a.8db4f8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","tls":"","x":1318.25,"y":922,"wires":[["e69248fb.420848"]]},{"id":"e69248fb.420848","type":"debug","z":"6fdb166a.8db4f8","name":"http result","active":true,"console":"false","complete":"payload","x":1513.25,"y":937.5,"wires":[]},{"id":"48f60def.a3bde4","type":"function","z":"6fdb166a.8db4f8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = -10;\nmsg.queryParameters.param2 = 100;\nreturn msg;","outputs":1,"noerr":0,"x":308.50001525878906,"y":690.0000267028809,"wires":[["5c5b425f.b096bc"]]},{"id":"e13cc5f4.26cb68","type":"http in","z":"b1527360.def25","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":142.5,"y":658.75,"wires":[["78158427.4e375c","ee0efe43.f855f","f4f25c16.0bc84"]]},{"id":"693f6be0.872654","type":"http response","z":"b1527360.def25","name":"","x":746.5,"y":674.75,"wires":[]},{"id":"78158427.4e375c","type":"debug","z":"b1527360.def25","name":"http input","active":false,"console":"false","complete":"payload","x":372.75000381469727,"y":755.5000076293945,"wires":[]},{"id":"ee0efe43.f855f","type":"function","z":"b1527360.def25","name":"reply to http call","func":"msg.payload='payload sent to FireBase';\nreturn msg;","outputs":1,"noerr":0,"x":510.5,"y":608.75,"wires":[["693f6be0.872654"]]},{"id":"b43cb276.31f57","type":"comment","z":"b1527360.def25","name":"Music Objects Input","info":"","x":138.125,"y":592.5000095367432,"wires":[]},{"id":"c490b1d.807df5","type":"change","z":"b1527360.def25","name":"","rules":[{"t":"set","p":"uid","pt":"flow","to":"context.uid","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":209.46430206298828,"y":333.3928470611572,"wires":[["260bee1a.81c972"]]},{"id":"f4f25c16.0bc84","type":"trigger","z":"b1527360.def25","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":381.87500762939453,"y":521.2500076293945,"wires":[["c490b1d.807df5"]]},{"id":"52d90f76.ca7e3","type":"inject","z":"6fdb166a.8db4f8","name":"inject actions, cassettes","topic":"vcr","payload":"{   \"actions\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : [ {       \"delay\" : 0.55499999999995,       \"type\" : \"EFFECTS/CHANGE_AXIS_EFFECT\",       \"y\" : {         \"effect\" : \"delay\"       }     }, {       \"delay\" : 2.8150000000000546,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 0.11,       \"index\" : 0,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.1900000000005,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 0       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.45500000000175,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.595000000001164,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 31.62999999999738,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 211.72500000000582,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 81.87499999999272,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 456.52999999999884,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 911.9749999999985,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 463.8700000000026,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 184.27500000000146,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 104.07499999999709,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 151.3550000000032,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 1297.2550000000047,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 28.219999999993888,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 84.70000000000437,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 2963.3849999999948,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 23225.365000000005,       \"index\" : 1,       \"options\" : {         \"detune\" : 35       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 2550.8150000000023,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 177.77499999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 35.570000000006985,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.47755281690140844,         \"cursorPosition\" : 135.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4705105633802817,         \"cursorPosition\" : 133.625       }     }, {       \"delay\" : 44.43000000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4564260563380282,         \"cursorPosition\" : 129.625       }     }, {       \"delay\" : 39.504999999990105,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.44938380281690143,         \"cursorPosition\" : 127.625       }     }, {       \"delay\" : 39.545000000012806,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.445862676056338,         \"cursorPosition\" : 126.625       }     }, {       \"delay\" : 41.89499999998952,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.43882042253521125,         \"cursorPosition\" : 124.625       }     }, {       \"delay\" : 42.36500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4352992957746479,         \"cursorPosition\" : 123.625       }     }, {       \"delay\" : 45.64999999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4317781690140845,         \"cursorPosition\" : 122.625       }     }, {       \"delay\" : 51.080000000001746,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.620000000009895,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 42.30500000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 40.09000000001106,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4141725352112676,         \"cursorPosition\" : 117.625       }     }, {       \"delay\" : 60.10999999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40713028169014087,         \"cursorPosition\" : 115.625       }     }, {       \"delay\" : 54.245000000009895,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 67.80499999999302,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 58.61500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 49.55999999999767,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 46.054999999993015,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40008802816901406,         \"cursorPosition\" : 113.625       }     }, {       \"delay\" : 41.51000000000931,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.3930457746478873,         \"cursorPosition\" : 111.625       }     }, {       \"delay\" : 38.92500000000291,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38952464788732394,         \"cursorPosition\" : 110.625       }     }, {       \"delay\" : 42.98499999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 46.19000000001688,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 81.8299999999872,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16549295774647887,         \"cursorPosition\" : 47       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 147.60000000000582,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 760.7949999999983,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 34.45000000001164,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 710.4449999999924,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 861.7949999999983,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 32.01499999999942,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 35.28500000000349,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 0.4249999999884,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     } ]   },   \"cassettes\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : {       \"initialState\" : {         \"effects\" : {           \"x\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"filter\",             \"options\" : {               \"filterType\" : \"lowpass\",               \"resonance\" : 10             }           },           \"y\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"distortion\",             \"options\" : {               \"amount\" : 0,               \"clarity\" : 1             }           }         },         \"isAdmin\" : false,         \"onboarding\" : {           \"keysPressed\" : 0,           \"padUpdates\" : 0,           \"stage\" : \"completed\"         },         \"oscillators\" : [ {           \"detune\" : 0,           \"gain\" : 0.5,           \"octaveAdjustment\" : 0,           \"waveform\" : \"triangle\"         }, {           \"detune\" : 0,           \"gain\" : 0.15,           \"octaveAdjustment\" : -1,           \"waveform\" : \"square\"         } ]       },       \"numOfActions\" : 54,       \"timestamp\" : 1498801731018     }   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":743.9999847412109,"y":1174.2381229400635,"wires":[["f7bbdaa.632c228","b617954c.db7858"]]},{"id":"f7bbdaa.632c228","type":"debug","z":"6fdb166a.8db4f8","name":"","active":false,"console":"false","complete":"false","x":1020.4285714285713,"y":1321.1428590502057,"wires":[]},{"id":"f2bf039b.f1693","type":"comment","z":"6fdb166a.8db4f8","name":"See Stack Overflow comment","info":"https://stackoverflow.com/a/17579861/738919","x":715.2857055664062,"y":1213.1428833007812,"wires":[]},{"id":"4f4ba18d.aab2b","type":"debug","z":"b1527360.def25","name":"","active":false,"console":"false","complete":"true","x":1059.375,"y":342.5,"wires":[]},{"id":"84afaf02.ece82","type":"http request","z":"77e21463.a3217c","name":"Period Param as \"P90D\"","method":"GET","ret":"txt","url":"https://waterservices.usgs.gov/nwis/iv/?format=json&sites=04092750&period=P1D&parameterCd=63680&siteStatus=all","tls":"","x":323.75,"y":121.25,"wires":[["15d8a425.15d61c"]]},{"id":"3fa09ffa.4a3be","type":"debug","z":"77e21463.a3217c","name":"","active":true,"console":"false","complete":"false","x":1618.4999313354492,"y":1064.999891281128,"wires":[]},{"id":"2382d13a.33c4ee","type":"inject","z":"77e21463.a3217c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.7499885559082,"y":120.74999904632568,"wires":[["84afaf02.ece82"]]},{"id":"15d8a425.15d61c","type":"json","z":"77e21463.a3217c","name":"","x":292.5,"y":208.5,"wires":[["adb1b68e.486ae8"]]},{"id":"adb1b68e.486ae8","type":"change","z":"77e21463.a3217c","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"},{"t":"delete","p":"payload.declaredType","pt":"msg"},{"t":"delete","p":"payload.scope","pt":"msg"},{"t":"delete","p":"payload.globalScope","pt":"msg"},{"t":"delete","p":"payload.typeSubstituted","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":505,"y":171.75,"wires":[["bd88c139.c36ea"]]},{"id":"bd88c139.c36ea","type":"change","z":"77e21463.a3217c","name":"","rules":[{"t":"move","p":"payload.value.timeSeries[0].values[0].value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":621,"y":255.75,"wires":[["100a43f9.bbca1c"]]},{"id":"100a43f9.bbca1c","type":"change","z":"77e21463.a3217c","name":"","rules":[{"t":"move","p":"payload.value.timeSeries.sourceInfo.siteName","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.5,"y":333.75,"wires":[["978ee980.ba6998"]]},{"id":"aeb734d2.cdf128","type":"change","z":"77e21463.a3217c","name":"","rules":[{"t":"delete","p":"payload.qualifiers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":946.8333740234375,"y":515.4166660308838,"wires":[["747e5009.cc392"]]},{"id":"c7ba6f9.fab5c9","type":"delay","z":"77e21463.a3217c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":905,"y":434.75,"wires":[["aeb734d2.cdf128"]]},{"id":"978ee980.ba6998","type":"split","z":"77e21463.a3217c","name":"","splt":",","x":472,"y":427.75,"wires":[["c7ba6f9.fab5c9"]]},{"id":"747e5009.cc392","type":"function","z":"77e21463.a3217c","name":"output to sound, viz","func":"var turbidity = msg.payload;\n\nvar msgTune = { payload: turbidity.value };\n\nvar msgChart = { payload: turbidity.value };\n\nvar flowOut = {\n    payload: [turbidity]\n};\n\nreturn [msgTune, msgChart, flowOut];","outputs":"3","noerr":0,"x":987.9999923706055,"y":1010.4166555404663,"wires":[["3fa09ffa.4a3be"],["44e0c131.d6a3b"],["1dc04bf2.c948b4","210fa3d9.d821cc"]]},{"id":"8f71a8f5.152298","type":"inject","z":"77e21463.a3217c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":177.6666717529297,"y":1081.416597366333,"wires":[["fec151de.a7009"]]},{"id":"fec151de.a7009","type":"function","z":"77e21463.a3217c","name":"graph reset","func":"var msgReset = { payload: [] };\n\nreturn msgReset;","outputs":1,"noerr":0,"x":514.6666717529297,"y":1081.416597366333,"wires":[["44e0c131.d6a3b"]]},{"id":"44e0c131.d6a3b","type":"trigger","z":"77e21463.a3217c","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":1255.483242034912,"y":1246.702320098877,"wires":[[]]},{"id":"c833a64f.99ed58","type":"comment","z":"77e21463.a3217c","name":"Visualize","info":"","x":172.5,"y":1013.3333072662354,"wires":[]},{"id":"6a3aaefa.0e11c","type":"debug","z":"77e21463.a3217c","name":"","active":true,"console":"false","complete":"payload","x":1605.8333206176758,"y":464.28575325012207,"wires":[]},{"id":"9c224409.1ccd18","type":"http request","z":"b164931e.91d28","name":"Period Param as \"P90D\" (tmp:9 days)","method":"GET","ret":"txt","url":"https://waterservices.usgs.gov/nwis/iv/?format=json&sites=04092750&period=P90D&parameterCd=63680&siteStatus=all","tls":"","x":398.33331298828125,"y":163.3333282470703,"wires":[["4200b747.1c1608"]]},{"id":"56989b22.18a5b4","type":"inject","z":"b164931e.91d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141.33330154418945,"y":162.833327293396,"wires":[["9c224409.1ccd18"]]},{"id":"4200b747.1c1608","type":"json","z":"b164931e.91d28","name":"","x":327.08331298828125,"y":250.5833282470703,"wires":[["febacc1c.66728"]]},{"id":"febacc1c.66728","type":"change","z":"b164931e.91d28","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"},{"t":"delete","p":"payload.declaredType","pt":"msg"},{"t":"delete","p":"payload.scope","pt":"msg"},{"t":"delete","p":"payload.globalScope","pt":"msg"},{"t":"delete","p":"payload.typeSubstituted","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":539.5833129882812,"y":213.8333282470703,"wires":[["43b5b0ed.03358"]]},{"id":"43b5b0ed.03358","type":"change","z":"b164931e.91d28","name":"","rules":[{"t":"move","p":"payload.value.timeSeries[0].values[0].value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":655.5833129882812,"y":297.8333282470703,"wires":[["d45f62d0.b58ed"]]},{"id":"d45f62d0.b58ed","type":"change","z":"b164931e.91d28","name":"","rules":[{"t":"move","p":"payload.value.timeSeries.sourceInfo.siteName","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":665.0833129882812,"y":375.8333282470703,"wires":[["661468ad.adeb98"]]},{"id":"46d3435a.ff566c","type":"change","z":"b164931e.91d28","name":"","rules":[{"t":"delete","p":"payload.qualifiers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":981.4166870117188,"y":557.4999942779541,"wires":[["f1f41bb1.0b0948","20b5a534.24315a"]]},{"id":"387aae5.7c08852","type":"delay","z":"b164931e.91d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"560","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":939.5833129882812,"y":476.8333282470703,"wires":[["46d3435a.ff566c"]]},{"id":"661468ad.adeb98","type":"split","z":"b164931e.91d28","name":"","splt":",","x":506.58331298828125,"y":469.8333282470703,"wires":[["387aae5.7c08852"]]},{"id":"76a65fd4.3f76a","type":"postgres","z":"b164931e.91d28","postgresdb":"c01fd61f.868858","name":"","output":false,"outputs":0,"x":1731.7500648498535,"y":580.7500219345093,"wires":[]},{"id":"f1f41bb1.0b0948","type":"debug","z":"b164931e.91d28","name":"","active":true,"console":"false","complete":"payload","x":1393.7499796549478,"y":625.4166615804036,"wires":[]},{"id":"4ada1657.12bb08","type":"comment","z":"77e21463.a3217c","name":"ui_chart","info":"","x":1492.4999771118164,"y":1038.3332138061523,"wires":[]},{"id":"ce231710.a11168","type":"comment","z":"77e21463.a3217c","name":"smooth","info":"","x":1464.1667671203613,"y":1216.666555404663,"wires":[]},{"id":"b7e7c6f2.0a4788","type":"comment","z":"77e21463.a3217c","name":"smooth","info":"","x":1466.666603088379,"y":1314.9999732971191,"wires":[]},{"id":"d8c4753c.194a78","type":"comment","z":"77e21463.a3217c","name":"guage","info":"","x":1563.3332786560059,"y":1184.9999704360962,"wires":[]},{"id":"93aaa5a6.849278","type":"comment","z":"77e21463.a3217c","name":"guage","info":"","x":1568.3332443237305,"y":1284.9999313354492,"wires":[]},{"id":"e2aeece0.15cd8","type":"comment","z":"b164931e.91d28","name":"TEST","info":"","x":1460.8332977294922,"y":421.6666450500488,"wires":[]},{"id":"20b5a534.24315a","type":"function","z":"b164931e.91d28","name":"Shape INSERT Statement","func":"var value = msg.payload.value;\nvar dateTime = msg.payload.dateTime;\n\nvar cmd = `INSERT INTO turbidity (value, datetime_created) VALUES` +\n    `(` + `'` +  value + `'` +  `, ` + `'` + dateTime + `'` +  `);`;\n\nvar insertMsg = {\n    payload: cmd\n};\n\nreturn insertMsg;","outputs":1,"noerr":0,"x":1395.5000457763672,"y":508.33331775665283,"wires":[["76a65fd4.3f76a"]]},{"id":"dd361b76.104058","type":"function","z":"77e21463.a3217c","name":"Shape INSERT Statement","func":"var value = msg.payload.value;\nvar dateTime = msg.payload.dateTime;\n\nvar cmd = `INSERT INTO turbidity (value, datetime_created) VALUES` +\n    `(` + `'` +  value + `'` +  `, ` + `'` + dateTime + `'` +  `);`;\n\nvar insertMsg = {\n    payload: cmd\n};\n\nreturn insertMsg;","outputs":1,"noerr":0,"x":1375.000015258789,"y":320.95240592956543,"wires":[["6a3aaefa.0e11c"]]},{"id":"e8c41df5.9cfe6","type":"inject","z":"6fdb166a.8db4f8","name":"inject actions, cassettes","topic":"vcr","payload":"{   \"actions\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : [ {       \"delay\" : 0.55499999999995,       \"type\" : \"EFFECTS/CHANGE_AXIS_EFFECT\",       \"y\" : {         \"effect\" : \"delay\"       }     }, {       \"delay\" : 2.8150000000000546,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 0.11,       \"index\" : 0,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.1900000000005,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 0       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.45500000000175,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 0.595000000001164,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 31.62999999999738,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 211.72500000000582,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 81.87499999999272,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 456.52999999999884,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 911.9749999999985,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 463.8700000000026,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 184.27500000000146,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 104.07499999999709,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 151.3550000000032,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 1297.2550000000047,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 28.219999999993888,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 84.70000000000437,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 2963.3849999999948,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 23225.365000000005,       \"index\" : 1,       \"options\" : {         \"detune\" : 35       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 2550.8150000000023,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 177.77499999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 35.570000000006985,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.47755281690140844,         \"cursorPosition\" : 135.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4705105633802817,         \"cursorPosition\" : 133.625       }     }, {       \"delay\" : 44.43000000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4564260563380282,         \"cursorPosition\" : 129.625       }     }, {       \"delay\" : 39.504999999990105,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.44938380281690143,         \"cursorPosition\" : 127.625       }     }, {       \"delay\" : 39.545000000012806,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.445862676056338,         \"cursorPosition\" : 126.625       }     }, {       \"delay\" : 41.89499999998952,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.43882042253521125,         \"cursorPosition\" : 124.625       }     }, {       \"delay\" : 42.36500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4352992957746479,         \"cursorPosition\" : 123.625       }     }, {       \"delay\" : 45.64999999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4317781690140845,         \"cursorPosition\" : 122.625       }     }, {       \"delay\" : 51.080000000001746,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.620000000009895,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 42.30500000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 40.09000000001106,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4141725352112676,         \"cursorPosition\" : 117.625       }     }, {       \"delay\" : 60.10999999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40713028169014087,         \"cursorPosition\" : 115.625       }     }, {       \"delay\" : 54.245000000009895,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 67.80499999999302,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 58.61500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 49.55999999999767,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 46.054999999993015,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40008802816901406,         \"cursorPosition\" : 113.625       }     }, {       \"delay\" : 41.51000000000931,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.3930457746478873,         \"cursorPosition\" : 111.625       }     }, {       \"delay\" : 38.92500000000291,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38952464788732394,         \"cursorPosition\" : 110.625       }     }, {       \"delay\" : 42.98499999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 46.19000000001688,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 81.8299999999872,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16549295774647887,         \"cursorPosition\" : 47       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 147.60000000000582,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 760.7949999999983,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 34.45000000001164,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 710.4449999999924,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 861.7949999999983,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 32.01499999999942,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 35.28500000000349,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 0.4249999999884,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     } ]   },   \"cassettes\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : {       \"initialState\" : {         \"effects\" : {           \"x\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"filter\",             \"options\" : {               \"filterType\" : \"lowpass\",               \"resonance\" : 10             }           },           \"y\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"distortion\",             \"options\" : {               \"amount\" : 0,               \"clarity\" : 1             }           }         },         \"isAdmin\" : false,         \"onboarding\" : {           \"keysPressed\" : 0,           \"padUpdates\" : 0,           \"stage\" : \"completed\"         },         \"oscillators\" : [ {           \"detune\" : 0,           \"gain\" : 0.5,           \"octaveAdjustment\" : 0,           \"waveform\" : \"triangle\"         }, {           \"detune\" : 0,           \"gain\" : 0.15,           \"octaveAdjustment\" : -1,           \"waveform\" : \"square\"         } ]       },       \"numOfActions\" : 54,       \"timestamp\" : 1498801731018     }   } }","payloadType":"json","repeat":"","crontab":"","once":true,"x":216.33331298828125,"y":87,"wires":[["324d9826.d3ef78"]]},{"id":"1e8f3229.6538de","type":"debug","z":"6fdb166a.8db4f8","name":"","active":true,"console":"false","complete":"true","x":734.2619171142578,"y":97.65473747253418,"wires":[]},{"id":"d1fe359.1817ac8","type":"function","z":"6fdb166a.8db4f8","name":"Custom Data","func":"var soundModel = {};\nvar turbidity = msg.payload;\nvar touchPad = msg.model.touch;\n\nvar findCherries = function (musicalNotes) {\n    \n    return ['A', 'C', 'D', 'F'].includes(musicalNotes.slice(-1));\n};\n\nvar hexVal = function(x) {\n    \n    var newNum = Math.trunc(Math.abs(x));\n  \n        return newNum.toString(16).toUpperCase().slice(-1);\n        \n        \n    \n    \n    \n}\n\n\nsoundModel.actions = [];\n\nturbidity.forEach( function(n) {\n    \n    soundModel.actions.unshift([\n    // prefix    \n    // {\n    //   \"delay\" : 0.55499999999995,\n    //   \"type\" : \"EFFECTS/CHANGE_AXIS_EFFECT\",\n    //   \"y\" : {\n    //     \"effect\" : \"delay\"\n    //   }\n    // }, {\n    //   \"delay\" : 2.8150000000000546,\n    //   \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",\n    //   \"x\" : true,\n    //   \"y\" : true\n    // }, \n    \n    // ADD\n    {\n        delay: n.value*2,  //need smaller for 90 day\n        type: \"NOTES/ADD_NOTE\", \n        // value: findCherries(hexVal(n.value)) ? hexVal(n.value).toString() : \"G5\" // -> ?\n        value: findCherries(hexVal(n.value)) ? hexVal(n.value) + 5 : \"G5\"\n        \n    },\n    \n   \n    // delay timbre (suffix)\n    {\n    //   \"delay\" : 211.72500000000582,\n      \"delay\": 0.1,\n      \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",\n      \"x\" : {\n        \"amount\" : 0.1619718309859155,\n        \"cursorPosition\" : 46\n      },\n      \"y\" : {\n        \"amount\" : 0.3824823943661972,\n        \"cursorPosition\" : 108.625\n      }    \n    \n    }, {\n      \"delay\" : 0.87499999999272,\n      \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",\n      \"x\" : {\n        \"amount\" : 0.1619718309859155,\n        // \"cursorPosition\" : 46\n        cursorPosition: n.value/2\n      },\n      \"y\" : {\n        \"amount\" : 0.5,\n        // \"cursorPosition\" : 108.625\n        cursorPosition: n.value/2\n      }\n    },\n      \n      {\n          delay: n.value*2, \n          type: \"NOTES/REMOVE_NOTE\", \n          value: findCherries(hexVal(n.value)) ? hexVal(n.value) +\"5\" : \"G5\" // dup of above\n          \n      },\n      \n      //deactivate\n    //   {\n    //   \"delay\" : 2.8150000000000546,\n    //   \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",\n    //   \"x\" : true,\n    //   \"y\" : true\n    // }, \n    ]);\n\n    \n    \n});\n\n\nvar deactivate = \n    {\n      \"delay\" : 2.8150000000000546,\n      \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",\n      \"x\" : true,\n      \"y\" : true\n    }\n    \n    ;\n\nvar chunk = [].concat.apply([], soundModel.actions);\n\n//don't need vars, your are mutating\nvar easy = Array.prototype.unshift.apply(chunk, touchPad); //works\n\nchunk.push(deactivate);\n\n\n\n\n\n\nvar newActShape = {\n    purpose: \"emit an updated action\",\n    activeIngredient: \"nested action array\",\n    realOutput: 1,\n    topic: \"task1\",\n    // payload: soundModel.actions,\n    waturbidity: turbidity,\n    watouch: touchPad,\n    // waEasy: chunk,\n    \n    // payload: chunk, // -> array[42]\n    payload: chunk,\n   \n    \n};\n\n// FUTURE: maybe alter initialstate here with example\n// msg.model.initialstate.oscillators.detune = 0 // or something\n\nvar newCasShape = {\n    purpose: \"emit an updated cassette\",\n    activeIngredient: \"new nested timestamp\",\n    realOutput: 2,\n    topic: \"task2\",\n    // payload: msg.timestamp // -> 12345566789\n    payload: {\n        // cassettes: {\n            initialState: msg.model.initialState,\n            // initial state may count as the first\n            numOfActions: chunk.length, // remember chunk comment?\n            timestamp: msg.timestamp\n        // }\n    }\n};\n\n// var newShape = {\n//     payload: turbidity    \n// };\n// -> array[6]\n\n\n\n// var newShape = {\n//     payload: 'customAction'\n// };\n// -> 'customAction'\n\nreturn [newActShape, newCasShape];","outputs":"2","noerr":0,"x":715.5000457763672,"y":236.25001525878906,"wires":[["2185f359.8c87cc","4cb2866c.1a3e48"],["2185f359.8c87cc","4cb2866c.1a3e48"]]},{"id":"28cf26fa.93970a","type":"change","z":"6fdb166a.8db4f8","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"model","pt":"msg","to":"context.model","tot":"global"},{"t":"set","p":"model.initialState","pt":"msg","to":"{         \"effects\" : {           \"x\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"filter\",             \"options\" : {               \"filterType\" : \"lowpass\",               \"resonance\" : 10             }           },           \"y\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"distortion\",             \"options\" : {               \"amount\" : 0,               \"clarity\" : 1             }           }         },         \"isAdmin\" : false,         \"onboarding\" : {           \"keysPressed\" : 0,           \"padUpdates\" : 0,           \"stage\" : \"completed\"         },         \"oscillators\" : [ {           \"detune\" : 0,           \"gain\" : 0.5,           \"octaveAdjustment\" : 0,           \"waveform\" : \"triangle\"         }, {           \"detune\" : 0,           \"gain\" : 0.15,           \"octaveAdjustment\" : -1,           \"waveform\" : \"square\"         } ]       }","tot":"json"},{"t":"set","p":"model.touch","pt":"msg","to":"[ {       \"delay\" : 0.8700000000000045,       \"type\" : \"EFFECTS/CHANGE_AXIS_EFFECT\",       \"y\" : {         \"effect\" : \"delay\"       }     }, {       \"delay\" : 2.8150000000000546,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 0.930000000002,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.5072988590724031,         \"cursorPosition\" : 144.0728759765625       },       \"y\" : {         \"amount\" : 0.7174906663491692,         \"cursorPosition\" : 203.76734924316406       }     }, {       \"delay\" : 290.98999999999796,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.5037777323118398,         \"cursorPosition\" : 143.0728759765625       },       \"y\" : {         \"amount\" : 0.7139695395886059,         \"cursorPosition\" : 202.76734924316406       }     }, {       \"delay\" : 66.90499999999884,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.4932143520301496,         \"cursorPosition\" : 140.0728759765625       },       \"y\" : {         \"amount\" : 0.7104484128280425,         \"cursorPosition\" : 201.76734924316406       }     }, {       \"delay\" : 82.97500000000218,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.48969322526958625,         \"cursorPosition\" : 139.0728759765625       },       \"y\" : {         \"amount\" : 0.7034061593069157,         \"cursorPosition\" : 199.76734924316406       }     }, {       \"delay\" : 66.90999999999985,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.4791298449878961,         \"cursorPosition\" : 136.0728759765625       },       \"y\" : {         \"amount\" : 0.6893216522646622,         \"cursorPosition\" : 195.76734924316406       }     }, {       \"delay\" : 66.38500000000204,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.468566464706206,         \"cursorPosition\" : 133.0728759765625       },       \"y\" : {         \"amount\" : 0.678758271982972,         \"cursorPosition\" : 192.76734924316406       }     }, {       \"delay\" : 66.48500000000058,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.45448195766395244,         \"cursorPosition\" : 129.0728759765625       },       \"y\" : {         \"amount\" : 0.6681948917012819,         \"cursorPosition\" : 189.76734924316406       }     }, {       \"delay\" : 83.80499999999665,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.44039745062169894,         \"cursorPosition\" : 125.0728759765625       },       \"y\" : {         \"amount\" : 0.6541103846590284,         \"cursorPosition\" : 185.76734924316406       }     }, {       \"delay\" : 83.98999999999796,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.42279181681888206,         \"cursorPosition\" : 120.0728759765625       },       \"y\" : {         \"amount\" : 0.6400258776167749,         \"cursorPosition\" : 181.76734924316406       }     }, {       \"delay\" : 89.00000000000364,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.4122284365371919,         \"cursorPosition\" : 117.0728759765625       },       \"y\" : {         \"amount\" : 0.6294624973350847,         \"cursorPosition\" : 178.76734924316406       }     }, {       \"delay\" : 66.90499999999884,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.40166505625550175,         \"cursorPosition\" : 114.0728759765625       },       \"y\" : {         \"amount\" : 0.6153779902928312,         \"cursorPosition\" : 174.76734924316406       }     }, {       \"delay\" : 81.36999999999898,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.3770171689315581,         \"cursorPosition\" : 107.0728759765625       },       \"y\" : {         \"amount\" : 0.5942512297294509,         \"cursorPosition\" : 168.76734924316406       }     }, {       \"delay\" : 89.32500000000073,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.34884815484705106,         \"cursorPosition\" : 99.0728759765625       },       \"y\" : {         \"amount\" : 0.5625610888843805,         \"cursorPosition\" : 159.76734924316406       }     }, {       \"delay\" : 88.72499999999854,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.3030735069597271,         \"cursorPosition\" : 86.0728759765625       },       \"y\" : {         \"amount\" : 0.5132653142364931,         \"cursorPosition\" : 145.76734924316406       }     }, {       \"delay\" : 93.88000000000102,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.2678622393540933,         \"cursorPosition\" : 76.0728759765625       },       \"y\" : {         \"amount\" : 0.46749066634916925,         \"cursorPosition\" : 132.76734924316406       }     }, {       \"delay\" : 56.30000000000291,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.24673547879071303,         \"cursorPosition\" : 70.0728759765625       },       \"y\" : {         \"amount\" : 0.44636390578578894,         \"cursorPosition\" : 126.76734924316406       }     }, {       \"delay\" : 69.7699999999968,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.22560871822733275,         \"cursorPosition\" : 64.0728759765625       },       \"y\" : {         \"amount\" : 0.4252371452224087,         \"cursorPosition\" : 120.76734924316406       }     }, {       \"delay\" : 74.70500000000175,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.20448195766395247,         \"cursorPosition\" : 58.0728759765625       },       \"y\" : {         \"amount\" : 0.4041103846590284,         \"cursorPosition\" : 114.76734924316406       }     }, {       \"delay\" : 71.99499999999898,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1939185773822623,         \"cursorPosition\" : 55.0728759765625       },       \"y\" : {         \"amount\" : 0.39354700437733825,         \"cursorPosition\" : 111.76734924316406       }     }, {       \"delay\" : 63.92000000000189,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.19039745062169894,         \"cursorPosition\" : 54.0728759765625       },       \"y\" : {         \"amount\" : 0.3900258776167749,         \"cursorPosition\" : 110.76734924316406       }     }, {       \"delay\" : 65.88000000000102,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.19039745062169894,         \"cursorPosition\" : 54.0728759765625       },       \"y\" : {         \"amount\" : 0.3900258776167749,         \"cursorPosition\" : 110.76734924316406       }     } ]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":431,"y":236,"wires":[["d1fe359.1817ac8","1e8f3229.6538de","af05ee90.8a8a9"]]},{"id":"8620a959.739408","type":"debug","z":"6fdb166a.8db4f8","name":"","active":true,"console":"false","complete":"false","x":1103,"y":446,"wires":[]},{"id":"f1844ddb.fc48b","type":"delay","z":"6fdb166a.8db4f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"25","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":728.9999389648438,"y":472.000036239624,"wires":[["8620a959.739408","6f7416e.04a72e8"]]},{"id":"dffa8580.242b38","type":"comment","z":"6fdb166a.8db4f8","name":"set model","info":"","x":186.99999999999997,"y":27.999999999999993,"wires":[]},{"id":"324d9826.d3ef78","type":"change","z":"6fdb166a.8db4f8","name":"","rules":[{"t":"set","p":"context.model","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":487,"y":86,"wires":[[]]},{"id":"22ea7915.b6a746","type":"status","z":"6fdb166a.8db4f8","name":"","scope":["52d90f76.ca7e3"],"x":117,"y":236,"wires":[["28cf26fa.93970a"]]},{"id":"2185f359.8c87cc","type":"function","z":"6fdb166a.8db4f8","name":"Wait for all tasks to finish","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    \n  \n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":1692.5000305175781,"y":231.5000081062317,"wires":[["4a6adacc.607bb4"]]},{"id":"9601dcd7.278c9","type":"debug","z":"6fdb166a.8db4f8","name":"","active":false,"console":"false","complete":"true","x":2027.0000267028809,"y":795.5000133514404,"wires":[]},{"id":"6f7416e.04a72e8","type":"delay","z":"6fdb166a.8db4f8","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1261.2500190734863,"y":617.5000095367432,"wires":[["25af0427.23460c"]]},{"id":"25af0427.23460c","type":"change","z":"6fdb166a.8db4f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"task3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1423.7500228881836,"y":617.5000085830688,"wires":[["2185f359.8c87cc"]]},{"id":"4a6adacc.607bb4","type":"function","z":"6fdb166a.8db4f8","name":"combine shapes","func":"\n\nvar vcrSet = {\n\n    cassettes: {\n        placeholderUID: new Object()\n    },\n    actions: {\n        placeholderUID: new Object()\n    },\n};\n\n\nvcrSet.actions['placeholderUID'] = msg.task1;\nvcrSet.cassettes['placeholderUID'] = msg.task2;\n\n\nvar msgString = {\n    // act: msg.task2,\n    // data: JSON.stringify(combined),\n    payload: vcrSet\n};\n\nreturn msgString;","outputs":1,"noerr":0,"x":1761.2500267028809,"y":635.0000085830688,"wires":[["9601dcd7.278c9","5004f80.10fbb08","568611e1.b4af7","b617954c.db7858"]]},{"id":"b71a772d.788848","type":"comment","z":"6fdb166a.8db4f8","name":"It make four copies... this might work still","info":"Magically gain four beats\n","x":1888.7499999999993,"y":477.49999999999983,"wires":[]},{"id":"5004f80.10fbb08","type":"json","z":"6fdb166a.8db4f8","name":"","x":1888.25,"y":1060,"wires":[["e84dd62.a9a4528"]]},{"id":"e84dd62.a9a4528","type":"debug","z":"6fdb166a.8db4f8","name":"","active":false,"console":"false","complete":"false","x":2038.7499999999993,"y":1177.4999999999995,"wires":[]},{"id":"568611e1.b4af7","type":"file","z":"6fdb166a.8db4f8","name":"","filename":"Downloads/MusicAsData/generated.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2123.749999999999,"y":972.4999999999997,"wires":[]},{"id":"4cb2866c.1a3e48","type":"debug","z":"6fdb166a.8db4f8","name":"","active":false,"console":"false","complete":"true","x":1080.3220672607422,"y":116.75520706176758,"wires":[]},{"id":"af05ee90.8a8a9","type":"trigger","z":"6fdb166a.8db4f8","op1":"1","op2":"","op1type":"num","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":377.03469848632807,"y":471.9652862548827,"wires":[["f1844ddb.fc48b"]]},{"id":"3135f5ab.2989aa","type":"delay","z":"b164931e.91d28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1609.0487365722652,"y":431.5833282470702,"wires":[[]]},{"id":"1dc04bf2.c948b4","type":"link out","z":"77e21463.a3217c","name":"","links":["177e17ca.4195c8"],"x":1440.7488479614258,"y":795.4017944335938,"wires":[]},{"id":"177e17ca.4195c8","type":"link in","z":"6fdb166a.8db4f8","name":"","links":["1dc04bf2.c948b4"],"x":75.0396785736084,"y":364.25598335266113,"wires":[["28cf26fa.93970a"]]},{"id":"210fa3d9.d821cc","type":"debug","z":"77e21463.a3217c","name":"","active":true,"console":"false","complete":"false","x":1525.3422130942345,"y":849.4346771240234,"wires":[]},{"id":"7108a1c6.ab4ca","type":"http request","z":"c0f03b29.c08a08","name":"Period Param as \"P90D\"","method":"GET","ret":"txt","url":"https://waterservices.usgs.gov/nwis/iv/?format=json&sites=04092750&period=P90D&parameterCd=63680&siteStatus=all","tls":"","x":288.6666971842451,"y":34.16670640309667,"wires":[["2100c5b6.8eb39a"]]},{"id":"18fc2ca2.293de3","type":"debug","z":"c0f03b29.c08a08","name":"","active":true,"console":"false","complete":"false","x":1583.4166285196943,"y":977.9165976842246,"wires":[]},{"id":"f750028d.175c1","type":"inject","z":"c0f03b29.c08a08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.95239893595408,"y":27.9524224599204,"wires":[["7108a1c6.ab4ca"]]},{"id":"2100c5b6.8eb39a","type":"json","z":"c0f03b29.c08a08","name":"","x":257.4166971842451,"y":121.41670640309667,"wires":[["34172f6f.86a6a"]]},{"id":"34172f6f.86a6a","type":"change","z":"c0f03b29.c08a08","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"},{"t":"delete","p":"payload.declaredType","pt":"msg"},{"t":"delete","p":"payload.scope","pt":"msg"},{"t":"delete","p":"payload.globalScope","pt":"msg"},{"t":"delete","p":"payload.typeSubstituted","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.9166971842451,"y":84.66670640309667,"wires":[["d5046d7c.3b2be"]]},{"id":"d5046d7c.3b2be","type":"change","z":"c0f03b29.c08a08","name":"","rules":[{"t":"move","p":"payload.value.timeSeries[0].values[0].value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.9166971842451,"y":168.66670640309667,"wires":[["b9993c31.3763c"]]},{"id":"b9993c31.3763c","type":"change","z":"c0f03b29.c08a08","name":"","rules":[{"t":"move","p":"payload.value.timeSeries.sourceInfo.siteName","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.4166971842451,"y":246.66670640309667,"wires":[["bb13e0cb.d5df5"]]},{"id":"2f728b5d.2f52c4","type":"change","z":"c0f03b29.c08a08","name":"","rules":[{"t":"delete","p":"payload.qualifiers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":911.7500712076826,"y":428.33337243398046,"wires":[["3052e0cb.d6a43"]]},{"id":"a0f8ded9.5c3e","type":"delay","z":"c0f03b29.c08a08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"110","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":869.9166971842451,"y":347.66670640309667,"wires":[["2f728b5d.2f52c4"]]},{"id":"bb13e0cb.d5df5","type":"split","z":"c0f03b29.c08a08","name":"","splt":",","x":436.9166971842451,"y":340.66670640309667,"wires":[["a0f8ded9.5c3e"]]},{"id":"3052e0cb.d6a43","type":"function","z":"c0f03b29.c08a08","name":"output to sound, viz","func":"var turbidity = msg.payload;\n\nvar msgTune = { payload: turbidity.value };\n\nvar msgChart = { payload: turbidity.value };\n\nvar flowOut = {\n    payload: [turbidity]\n};\n\nreturn [msgTune, msgChart, flowOut];","outputs":"3","noerr":0,"x":952.9166895548506,"y":923.333361943563,"wires":[["18fc2ca2.293de3"],["faa4893e.b77908"],["714e56ae.b22148"]]},{"id":"49c8c188.7b137","type":"inject","z":"c0f03b29.c08a08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.58336893717478,"y":994.3333037694297,"wires":[["1f7851c3.91d7fe"]]},{"id":"1f7851c3.91d7fe","type":"function","z":"c0f03b29.c08a08","name":"graph reset","func":"var msgReset = { payload: [] };\n\nreturn msgReset;","outputs":1,"noerr":0,"x":479.5833689371748,"y":994.3333037694297,"wires":[["faa4893e.b77908"]]},{"id":"faa4893e.b77908","type":"trigger","z":"c0f03b29.c08a08","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":1220.3999392191572,"y":1159.6190265019736,"wires":[[]]},{"id":"7c8558c0.01d6d8","type":"comment","z":"c0f03b29.c08a08","name":"Visualize","info":"","x":137.4166971842451,"y":926.250013669332,"wires":[]},{"id":"a5292fb5.c43f1","type":"debug","z":"c0f03b29.c08a08","name":"","active":true,"console":"false","complete":"payload","x":1570.7500178019209,"y":377.20245965321874,"wires":[]},{"id":"c68abc3.f631b4","type":"comment","z":"c0f03b29.c08a08","name":"ui_chart","info":"","x":1457.4166742960615,"y":951.249920209249,"wires":[]},{"id":"89d6b7cf.c6b298","type":"comment","z":"c0f03b29.c08a08","name":"smooth","info":"","x":1429.0834643046064,"y":1129.5832618077598,"wires":[]},{"id":"912bb1e8.2b88b","type":"comment","z":"c0f03b29.c08a08","name":"smooth","info":"","x":1431.583300272624,"y":1227.9166797002158,"wires":[]},{"id":"a98fe8b9.c92e28","type":"comment","z":"c0f03b29.c08a08","name":"guage","info":"","x":1528.249975840251,"y":1097.9166768391929,"wires":[]},{"id":"9c8cfaf2.95dec8","type":"comment","z":"c0f03b29.c08a08","name":"guage","info":"","x":1533.2499415079756,"y":1197.916637738546,"wires":[]},{"id":"c2244b54.fbe8e8","type":"function","z":"c0f03b29.c08a08","name":"Shape INSERT Statement","func":"var value = msg.payload.value;\nvar dateTime = msg.payload.dateTime;\n\nvar cmd = `INSERT INTO turbidity (value, datetime_created) VALUES` +\n    `(` + `'` +  value + `'` +  `, ` + `'` + dateTime + `'` +  `);`;\n\nvar insertMsg = {\n    payload: cmd\n};\n\nreturn insertMsg;","outputs":1,"noerr":0,"x":1339.9167124430342,"y":233.8691123326621,"wires":[["a5292fb5.c43f1"]]},{"id":"ebf6b770.4ab9e8","type":"link out","z":"c0f03b29.c08a08","name":"","links":["38f72406.b5124c"],"x":1405.6655451456709,"y":708.3185008366904,"wires":[]},{"id":"714e56ae.b22148","type":"debug","z":"c0f03b29.c08a08","name":"","active":true,"console":"false","complete":"false","x":1490.2589102784796,"y":762.3513835271201,"wires":[]},{"id":"5cf4c1fc.2b6c2","type":"postgres","z":"5ab57853.d27ce8","postgresdb":"c01fd61f.868858","name":"","output":true,"outputs":1,"x":774.9999504089355,"y":724.16663646698,"wires":[["c7f93e8e.723d2","b74b1b22.1a9b38"]]},{"id":"502f08a5.af2698","type":"function","z":"5ab57853.d27ce8","name":"","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = -10;\nmsg.queryParameters.param2 = 100;\nreturn msg;","outputs":1,"noerr":0,"x":488.3333053588867,"y":725.0000667572021,"wires":[["4cfbc3b6.a9d31c"]]},{"id":"4cfbc3b6.a9d31c","type":"template","z":"5ab57853.d27ce8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from turbidity where value between $param1 and $param2 ","x":608.3333206176758,"y":725.0000114440918,"wires":[["5cf4c1fc.2b6c2"]]},{"id":"3f57baa4.a17ea6","type":"inject","z":"5ab57853.d27ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.33333587646484,"y":725.0000009536743,"wires":[["502f08a5.af2698"]]},{"id":"32dd6c94.6091c4","type":"ui_chart","z":"5ab57853.d27ce8","name":"","group":"5da1a57e.429f1c","order":0,"width":0,"height":0,"label":"90 Day Turbidity","chartType":"line","legend":"false","xformat":"'","interpolate":"bezier","nodata":"","ymin":"-10","ymax":"","removeOlder":"1","removeOlderPoints":"48","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1748.9285469055176,"y":671.0714511871338,"wires":[["f584987e.679a88"],["f584987e.679a88"]]},{"id":"c7f93e8e.723d2","type":"debug","z":"5ab57853.d27ce8","name":"","active":false,"console":"false","complete":"true","x":1114.1666666666665,"y":363.33333333333326,"wires":[]},{"id":"1a857e1.ebd3482","type":"function","z":"5ab57853.d27ce8","name":"","func":"var turbidity = msg.payload;\nvar time = Number(turbidity.datetime_created);\n\n\n\nvar msgMain = {    \n     \n     payload: turbidity.value\n   \n};\n\nvar msgDate = { \n    payload: turbidity.datetime_created,\n    timestamp: time\n};\n\n\n\nreturn [msgMain, msgDate];","outputs":"2","noerr":0,"x":1469.464225769043,"y":719.999997138977,"wires":[["32dd6c94.6091c4","bc48805e.c023a"],["b309c5cb.ae5048"]]},{"id":"82f0f028.69a21","type":"debug","z":"5ab57853.d27ce8","name":"","active":false,"console":"false","complete":"true","x":1553.750020980835,"y":365.0000057220459,"wires":[]},{"id":"bc48805e.c023a","type":"debug","z":"5ab57853.d27ce8","name":"","active":false,"console":"false","complete":"true","x":1816.2499999999993,"y":224.99999999999991,"wires":[]},{"id":"e1d3180.061a4e8","type":"delay","z":"5ab57853.d27ce8","name":"","pauseType":"rate","timeout":"110","timeoutUnits":"seconds","rate":"5.553795379","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1173.750015258789,"y":720.0000114440918,"wires":[["1a857e1.ebd3482","82f0f028.69a21"]]},{"id":"b74b1b22.1a9b38","type":"split","z":"5ab57853.d27ce8","name":"","splt":"\\n","x":946.2500152587891,"y":790.0000123977661,"wires":[["e1d3180.061a4e8"]]},{"id":"de929f14.13801","type":"inject","z":"5ab57853.d27ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":134,"y":1014,"wires":[["7337ee94.9f145"]]},{"id":"7337ee94.9f145","type":"function","z":"5ab57853.d27ce8","name":"graph reset","func":"var msgReset = { payload: [] };\n\nreturn msgReset;","outputs":1,"noerr":0,"x":489,"y":1018,"wires":[["58d32a65.a11924"]]},{"id":"58d32a65.a11924","type":"trigger","z":"5ab57853.d27ce8","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":1469.8165283203125,"y":1015.2857666015625,"wires":[["32dd6c94.6091c4"]]},{"id":"f584987e.679a88","type":"debug","z":"5ab57853.d27ce8","name":"","active":false,"console":"false","complete":"true","x":1885.7254464285713,"y":370.0669642857143,"wires":[]},{"id":"c414af11.46b44","type":"ui_text","z":"5ab57853.d27ce8","group":"5da1a57e.429f1c","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1837.1600036621094,"y":761.3538475036621,"wires":[]},{"id":"b309c5cb.ae5048","type":"moment","z":"5ab57853.d27ce8","name":"","topic":"","input":"timestamp","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY ON MMMM Do, h a","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/Chicago","x":1631.0118103027344,"y":753.0117135047913,"wires":[["c414af11.46b44"]]}]