oldstart.bak
[{"id":"404c77c1.357048","type":"tab","label":"Sample GET Flow 1"},{"id":"f5a51120.6c8f9","type":"tab","label":"Init My Sound Node"},{"id":"50d4e969.d2ea08","type":"tab","label":"Query to HTTP 1"},{"id":"4da1d64d.601548","type":"tab","label":"Flow 1"},{"id":"50d28d0c.7ad734","type":"tab","label":"Read if new Cassettes"},{"id":"6ff46a19.b63e74","type":"tab","label":"Read on Interval"},{"id":"fd0d9c03.3c8c1","type":"tab","label":"Flow 5"},{"id":"5e5e67e0.8e72d8","type":"tab","label":"Flow 6"},{"id":"4492e052.b1cbe","type":"postgresdb","z":"50d4e969.d2ea08","hostname":"localhost","port":"5432","db":"noderedtest","ssl":false},{"id":"ce122e0a.31948","type":"websocket-listener","z":"4da1d64d.601548","path":"/ws/simple","wholemsg":"false"},{"id":"d3fb1694.3e0778","type":"firebase config","z":"","firebaseurl":"watur-a5416","loginType":"none"},{"id":"87817810.365cd8","type":"firebase config","z":"","firebaseurl":"watur-a5416","loginType":"customGenerated"},{"id":"1273c8dc.4d1797","type":"function","z":"404c77c1.357048","name":"copy-paste synth","func":"var Synth, AudioSynth, AudioSynthInstrument;\n!function(){\n\n\tvar URL = window.URL || window.webkitURL;\n\tvar Blob = window.Blob;\n\n\tif(!URL || !Blob) {\n\t\tthrow new Error('This browser does not support AudioSynth');\n\t}\n\n\tvar _encapsulated = false;\n\tvar AudioSynthInstance = null;\n\tvar pack = function(c,arg){ return [new Uint8Array([arg, arg >> 8]), new Uint8Array([arg, arg >> 8, arg >> 16, arg >> 24])][c]; };\n\tvar setPrivateVar = function(n,v,w,e){Object.defineProperty(this,n,{value:v,writable:!!w,enumerable:!!e});};\n\tvar setPublicVar = function(n,v,w){setPrivateVar.call(this,n,v,w,true);};\n\tAudioSynthInstrument = function AudioSynthInstrument(){this.__init__.apply(this,arguments);};\n\tvar setPriv = setPrivateVar.bind(AudioSynthInstrument.prototype);\n\tvar setPub = setPublicVar.bind(AudioSynthInstrument.prototype);\n\tsetPriv('__init__', function(a,b,c) {\n\t\tif(!_encapsulated) { throw new Error('AudioSynthInstrument can only be instantiated from the createInstrument method of the AudioSynth object.'); }\n\t\tsetPrivateVar.call(this, '_parent', a);\n\t\tsetPublicVar.call(this, 'name', b);\n\t\tsetPrivateVar.call(this, '_soundID', c);\n\t});\n\tsetPub('play', function(note, octave, duration) {\n\t\treturn this._parent.play(this._soundID, note, octave, duration);\n\t});\n\tsetPub('generate', function(note, octave, duration) {\n\t\treturn this._parent.generate(this._soundID, note, octave, duration);\n\t});\n\tAudioSynth = function AudioSynth(){if(AudioSynthInstance instanceof AudioSynth){return AudioSynthInstance;}else{ this.__init__(); return this; }};\n\tsetPriv = setPrivateVar.bind(AudioSynth.prototype);\n\tsetPub = setPublicVar.bind(AudioSynth.prototype);\n\tsetPriv('_debug',false,true);\n\tsetPriv('_bitsPerSample',16);\n\tsetPriv('_channels',1);\n\tsetPriv('_sampleRate',44100,true);\n\tsetPub('setSampleRate', function(v) {\n\t\tthis._sampleRate = Math.max(Math.min(v|0,44100), 4000);\n\t\tthis._clearCache();\n\t\treturn this._sampleRate;\n\t});\n\tsetPub('getSampleRate', function() { return this._sampleRate; });\n\tsetPriv('_volume',32768,true);\n\tsetPub('setVolume', function(v) {\n\t\tv = parseFloat(v); if(isNaN(v)) { v = 0; }\n\t\tv = Math.round(v*32768);\n\t\tthis._volume = Math.max(Math.min(v|0,32768), 0);\n\t\tthis._clearCache();\n\t\treturn this._volume;\n\t});\n\tsetPub('getVolume', function() { return Math.round(this._volume/32768*10000)/10000; });\n\tsetPriv('_notes',{'C':261.63,'C#':277.18,'D':293.66,'D#':311.13,'E':329.63,'F':346.23,'F#':369.99,'G':392.00,'G#':415.30,'A':440.00,'A#':466.16,'B':493.88});\n\tsetPriv('_fileCache',[],true);\n\tsetPriv('_temp',{},true);\n\tsetPriv('_sounds',[],true);\n\tsetPriv('_mod',[function(i,s,f,x){return Math.sin((2 * Math.PI)*(i/s)*f+x);}]);\n\tsetPriv('_resizeCache', function() {\n\t\tvar f = this._fileCache;\n\t\tvar l = this._sounds.length;\n\t\twhile(f.length<l) {\n\t\t\tvar octaveList = [];\n\t\t\tfor(var i = 0; i < 8; i++) {\n\t\t\t\tvar noteList = {};\n\t\t\t\tfor(var k in this._notes) {\n\t\t\t\t\tnoteList[k] = {};\n\t\t\t\t} \n\t\t\t\toctaveList.push(noteList);\n\t\t\t}\n\t\t\tf.push(octaveList);\n\t\t}\n\t});\n\tsetPriv('_clearCache', function() {\n\t\tthis._fileCache = [];\n\t\tthis._resizeCache();\n\t});\n\tsetPub('generate', function(sound, note, octave, duration) {\n\t\tvar thisSound = this._sounds[sound];\n\t\tif(!thisSound) {\n\t\t\tfor(var i=0;i<this._sounds.length;i++) {\n\t\t\t\tif(this._sounds[i].name==sound) {\n\t\t\t\t\tthisSound = this._sounds[i];\n\t\t\t\t\tsound = i;\n\t\t\t\t\tbreak;\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t\tif(!thisSound) { throw new Error('Invalid sound or sound ID: ' + sound); }\n\t\tvar t = (new Date).valueOf();\n\t\tthis._temp = {};\n\t\toctave |= 0;\n\t\toctave = Math.min(8, Math.max(1, octave));\n\t\tvar time = !duration?2:parseFloat(duration);\n\t\tif(typeof(this._notes[note])=='undefined') { throw new Error(note + ' is not a valid note.'); }\n\t\tif(typeof(this._fileCache[sound][octave-1][note][time])!='undefined') {\n\t\t\tif(this._debug) { console.log((new Date).valueOf() - t, 'ms to retrieve (cached)'); }\n\t\t\treturn this._fileCache[sound][octave-1][note][time];\n\t\t} else {\n\t\t\tvar frequency = this._notes[note] * Math.pow(2,octave-4);\n\t\t\tvar sampleRate = this._sampleRate;\n\t\t\tvar volume = this._volume;\n\t\t\tvar channels = this._channels;\n\t\t\tvar bitsPerSample = this._bitsPerSample;\n\t\t\tvar attack = thisSound.attack(sampleRate, frequency, volume);\n\t\t\tvar dampen = thisSound.dampen(sampleRate, frequency, volume);\n\t\t\tvar waveFunc = thisSound.wave;\n\t\t\tvar waveBind = {modulate: this._mod, vars: this._temp};\n\t\t\tvar val = 0;\n\t\t\tvar curVol = 0;\n\n\t\t\tvar data = new Uint8Array(new ArrayBuffer(Math.ceil(sampleRate * time * 2)));\n\t\t\tvar attackLen = (sampleRate * attack) | 0;\n\t\t\tvar decayLen = (sampleRate * time) | 0;\n\n\t\t\tfor (var i = 0 | 0; i !== attackLen; i++) {\n\t\t\n\t\t\t\tval = volume * (i/(sampleRate*attack)) * waveFunc.call(waveBind, i, sampleRate, frequency, volume);\n\n\t\t\t\tdata[i << 1] = val;\n\t\t\t\tdata[(i << 1) + 1] = val >> 8;\n\n\t\t\t}\n\n\t\t\tfor (; i !== decayLen; i++) {\n\n\t\t\t\tval = volume * Math.pow((1-((i-(sampleRate*attack))/(sampleRate*(time-attack)))),dampen) * waveFunc.call(waveBind, i, sampleRate, frequency, volume);\n\n\t\t\t\tdata[i << 1] = val;\n\t\t\t\tdata[(i << 1) + 1] = val >> 8;\n\n\t\t\t}\n\n\t\t\tvar out = [\n\t\t\t\t'RIFF',\n\t\t\t\tpack(1, 4 + (8 + 24/* chunk 1 length */) + (8 + 8/* chunk 2 length */)), // Length\n\t\t\t\t'WAVE',\n\t\t\t\t// chunk 1\n\t\t\t\t'fmt ', // Sub-chunk identifier\n\t\t\t\tpack(1, 16), // Chunk length\n\t\t\t\tpack(0, 1), // Audio format (1 is linear quantization)\n\t\t\t\tpack(0, channels),\n\t\t\t\tpack(1, sampleRate),\n\t\t\t\tpack(1, sampleRate * channels * bitsPerSample / 8), // Byte rate\n\t\t\t\tpack(0, channels * bitsPerSample / 8),\n\t\t\t\tpack(0, bitsPerSample),\n\t\t\t\t// chunk 2\n\t\t\t\t'data', // Sub-chunk identifier\n\t\t\t\tpack(1, data.length * channels * bitsPerSample / 8), // Chunk length\n\t\t\t\tdata\n\t\t\t];\n\t\t\tvar blob = new Blob(out, {type: 'audio/wav'});\n\t\t\tvar dataURI = URL.createObjectURL(blob);\n\t\t\tthis._fileCache[sound][octave-1][note][time] = dataURI;\n\t\t\tif(this._debug) { console.log((new Date).valueOf() - t, 'ms to generate'); }\n\t\t\treturn dataURI;\n\t\t}\n\t});\n\tsetPub('play', function(sound, note, octave, duration) {\n\t\tvar src = this.generate(sound, note, octave, duration);\n\t\tvar audio = new Audio(src);\n\t\taudio.play();\n\t\treturn true;\n\t});\n\tsetPub('debug', function() { this._debug = true; });\n\tsetPub('createInstrument', function(sound) {\n\t\tvar n = 0;\n\t\tvar found = false;\n\t\tif(typeof(sound)=='string') {\n\t\t\tfor(var i=0;i<this._sounds.length;i++) {\n\t\t\t\tif(this._sounds[i].name==sound) {\n\t\t\t\t\tfound = true;\n\t\t\t\t\tn = i;\n\t\t\t\t\tbreak;\n\t\t\t\t}\n\t\t\t}\n\t\t} else {\n\t\t\tif(this._sounds[sound]) {\n\t\t\t\tn = sound;\n\t\t\t\tsound = this._sounds[n].name;\n\t\t\t\tfound = true;\n\t\t\t}\n\t\t}\n\t\tif(!found) { throw new Error('Invalid sound or sound ID: ' + sound); }\n\t\t_encapsulated = true;\n\t\tvar ins = new AudioSynthInstrument(this, sound, n);\n\t\t_encapsulated = false;\n\t\treturn ins;\n\t});\n\tsetPub('listSounds', function() {\n\t\tvar r = [];\n\t\tfor(var i=0;i<this._sounds.length;i++) {\n\t\t\tr.push(this._sounds[i].name);\n\t\t}\n\t\treturn r;\n\t});\n\tsetPriv('__init__', function(){\n\t\tthis._resizeCache();\n\t});\n\tsetPub('loadSoundProfile', function() {\n\t\tfor(var i=0,len=arguments.length;i<len;i++) {\n\t\t\to = arguments[i];\n\t\t\tif(!(o instanceof Object)) { throw new Error('Invalid sound profile.'); }\n\t\t\tthis._sounds.push(o);\n\t\t}\n\t\tthis._resizeCache();\n\t\treturn true;\n\t});\n\tsetPub('loadModulationFunction', function() {\n\t\tfor(var i=0,len=arguments.length;i<len;i++) {\n\t\t\tf = arguments[i];\n\t\t\tif(typeof(f)!='function') { throw new Error('Invalid modulation function.'); }\n\t\t\tthis._mod.push(f);\n\t\t}\n\t\treturn true;\n\t});\n\tAudioSynthInstance = new AudioSynth();\n\tSynth = AudioSynthInstance;\n}();\n\nSynth.loadModulationFunction(\n\tfunction(i, sampleRate, frequency, x) { return 1 * Math.sin(2 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 1 * Math.sin(4 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 1 * Math.sin(8 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 1 * Math.sin(0.5 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 1 * Math.sin(0.25 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 0.5 * Math.sin(2 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 0.5 * Math.sin(4 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 0.5 * Math.sin(8 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 0.5 * Math.sin(0.5 * Math.PI * ((i / sampleRate) * frequency) + x); },\n\tfunction(i, sampleRate, frequency, x) { return 0.5 * Math.sin(0.25 * Math.PI * ((i / sampleRate) * frequency) + x); }\n);\n\nSynth.loadSoundProfile({\n\tname: 'piano',\n\tattack: function() { return 0.002; },\n\tdampen: function(sampleRate, frequency, volume) {\n\t\treturn Math.pow(0.5*Math.log((frequency*volume)/sampleRate),2);\n\t},\n\twave: function(i, sampleRate, frequency, volume) {\n\t\tvar base = this.modulate[0];\n\t\treturn this.modulate[1](\n\t\t\ti,\n\t\t\tsampleRate,\n\t\t\tfrequency,\n\t\t\tMath.pow(base(i, sampleRate, frequency, 0), 2) +\n\t\t\t\t(0.75 * base(i, sampleRate, frequency, 0.25)) +\n\t\t\t\t(0.1 * base(i, sampleRate, frequency, 0.5))\n\t\t);\n\t}\n},\n{\n\tname: 'organ',\n\tattack: function() { return 0.3 },\n\tdampen: function(sampleRate, frequency) { return 1+(frequency * 0.01); },\n\twave: function(i, sampleRate, frequency) {\n\t\tvar base = this.modulate[0];\n\t\treturn this.modulate[1](\n\t\t\ti,\n\t\t\tsampleRate,\n\t\t\tfrequency,\n\t\t\tbase(i, sampleRate, frequency, 0) +\n\t\t\t\t0.5*base(i, sampleRate, frequency, 0.25) +\n\t\t\t\t0.25*base(i, sampleRate, frequency, 0.5)\n\t\t);\n\t}\n},\n{\n\tname: 'acoustic',\n\tattack:\tfunction() { return 0.002; },\n\tdampen: function() { return 1; },\n\twave: function(i, sampleRate, frequency) {\n\n\t\tvar vars = this.vars;\n\t\tvars.valueTable = !vars.valueTable?[]:vars.valueTable;\n\t\tif(typeof(vars.playVal)=='undefined') { vars.playVal = 0; }\n\t\tif(typeof(vars.periodCount)=='undefined') { vars.periodCount = 0; }\n\t\n\t\tvar valueTable = vars.valueTable;\n\t\tvar playVal = vars.playVal;\n\t\tvar periodCount = vars.periodCount;\n\n\t\tvar period = sampleRate/frequency;\n\t\tvar p_hundredth = Math.floor((period-Math.floor(period))*100);\n\n\t\tvar resetPlay = false;\n\n\t\tif(valueTable.length<=Math.ceil(period)) {\n\t\n\t\t\tvalueTable.push(Math.round(Math.random())*2-1);\n\t\n\t\t\treturn valueTable[valueTable.length-1];\n\t\n\t\t} else {\n\t\n\t\t\tvalueTable[playVal] = (valueTable[playVal>=(valueTable.length-1)?0:playVal+1] + valueTable[playVal]) * 0.5;\n\t\n\t\t\tif(playVal>=Math.floor(period)) {\n\t\t\t\tif(playVal<Math.ceil(period)) {\n\t\t\t\t\tif((periodCount%100)>=p_hundredth) {\n\t\t\t\t\t\t// Reset\n\t\t\t\t\t\tresetPlay = true;\n\t\t\t\t\t\tvalueTable[playVal+1] = (valueTable[0] + valueTable[playVal+1]) * 0.5;\n\t\t\t\t\t\tvars.periodCount++;\t\n\t\t\t\t\t}\n\t\t\t\t} else {\n\t\t\t\t\tresetPlay = true;\t\n\t\t\t\t}\n\t\t\t}\n\t\n\t\t\tvar _return = valueTable[playVal];\n\t\t\tif(resetPlay) { vars.playVal = 0; } else { vars.playVal++; }\n\t\n\t\t\treturn _return;\n\t\n\t\t}\n\t}\n},\n{\n\tname: 'edm',\n\tattack:\tfunction() { return 0.002; },\n\tdampen: function() { return 1; },\n\twave: function(i, sampleRate, frequency) {\n\t\tvar base = this.modulate[0];\n\t\tvar mod = this.modulate.slice(1);\n\t\treturn mod[0](\n\t\t\ti,\n\t\t\tsampleRate,\n\t\t\tfrequency,\n\t\t\tmod[9](\n\t\t\t\ti,\n\t\t\t\tsampleRate,\n\t\t\t\tfrequency,\n\t\t\t\tmod[2](\n\t\t\t\t\ti,\n\t\t\t\t\tsampleRate,\n\t\t\t\t\tfrequency,\n\t\t\t\t\tMath.pow(base(i, sampleRate, frequency, 0), 3) +\n\t\t\t\t\t\tMath.pow(base(i, sampleRate, frequency, 0.5), 5) +\n\t\t\t\t\t\tMath.pow(base(i, sampleRate, frequency, 1), 7)\n\t\t\t\t)\n\t\t\t) +\n\t\t\t\tmod[8](\n\t\t\t\t\ti,\n\t\t\t\t\tsampleRate,\n\t\t\t\t\tfrequency,\n\t\t\t\t\tbase(i, sampleRate, frequency, 1.75)\n\t\t\t\t)\n\t\t);\n\t}\n});\nreturn msg;","outputs":1,"noerr":0,"x":443.5,"y":78,"wires":[[]]},{"id":"ab50ba0e.6d3278","type":"inject","z":"404c77c1.357048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":137,"wires":[["72881595.d266fc"]]},{"id":"473d3f57.b828b","type":"debug","z":"404c77c1.357048","name":"","active":true,"console":"false","complete":"false","x":694.5,"y":139,"wires":[]},{"id":"8c20b81.2c07e48","type":"json","z":"404c77c1.357048","name":"","x":514.5,"y":245,"wires":[["473d3f57.b828b"]]},{"id":"72881595.d266fc","type":"http request","z":"404c77c1.357048","name":"sample gigs","method":"GET","ret":"txt","url":"reneonkeys.com/gigs","tls":"","x":227.5,"y":264,"wires":[["8c20b81.2c07e48"]]},{"id":"88e45dc6.31627","type":"inject","z":"f5a51120.6c8f9","name":"","topic":"","payload":"DONT YELL AT ME","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.5,"y":206,"wires":[[]]},{"id":"55799662.1a2c08","type":"debug","z":"f5a51120.6c8f9","name":"","active":true,"console":"false","complete":"false","x":954.5,"y":375,"wires":[]},{"id":"12057166.669c1f","type":"speakerpi-output","z":"f5a51120.6c8f9","choose":"givenfile","filename":"sample.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"ok","x":1149.4999923706055,"y":631.0000238418579,"wires":[]},{"id":"a4359cb1.364d8","type":"inject","z":"50d4e969.d2ea08","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 9-16 * * *","once":false,"x":261.42859649658203,"y":178.57143020629883,"wires":[["3fcf5f6a.f95b5"]]},{"id":"8c97d160.adec","type":"template","z":"50d4e969.d2ea08","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":647.2857437133789,"y":176.57143688201904,"wires":[["a725627e.df1b8"]]},{"id":"a725627e.df1b8","type":"postgres","z":"50d4e969.d2ea08","postgresdb":"4492e052.b1cbe","name":"Node Red Test","output":true,"outputs":1,"x":818,"y":175.42857360839844,"wires":[["47fcd217.8753fc","b548c3ea.1a516"]]},{"id":"47fcd217.8753fc","type":"debug","z":"50d4e969.d2ea08","name":"query output","active":false,"console":"false","complete":"true","x":1023.4285888671875,"y":301.42857360839844,"wires":[]},{"id":"b548c3ea.1a516","type":"http request","z":"50d4e969.d2ea08","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","tls":"","x":1114.0000686645508,"y":141.00000762939453,"wires":[["aed09b7a.0c2378"]]},{"id":"aed09b7a.0c2378","type":"debug","z":"50d4e969.d2ea08","name":"http result","active":true,"console":"false","complete":"payload","x":1285.5714569091797,"y":140.99999904632568,"wires":[]},{"id":"3fcf5f6a.f95b5","type":"function","z":"50d4e969.d2ea08","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1;\nreturn msg;","outputs":1,"noerr":0,"x":461.5714569091797,"y":177.42857360839844,"wires":[["8c97d160.adec"]]},{"id":"891a9f0f.233ad","type":"http in","z":"50d4e969.d2ea08","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":377.4285888671875,"y":597.4285736083984,"wires":[["ae653deb.f7a08","ceac6706.ef9ed8"]]},{"id":"67694db7.a57664","type":"http response","z":"50d4e969.d2ea08","name":"","x":981.4285888671875,"y":613.4285736083984,"wires":[]},{"id":"ae653deb.f7a08","type":"debug","z":"50d4e969.d2ea08","name":"http input","active":false,"console":"false","complete":"payload","x":633.5714263916016,"y":704.0000400543213,"wires":[]},{"id":"ceac6706.ef9ed8","type":"function","z":"50d4e969.d2ea08","name":"reply to http call","func":"msg.payload='reply from http';\nreturn msg;","outputs":1,"noerr":0,"x":745.4285888671875,"y":547.4285736083984,"wires":[["67694db7.a57664"]]},{"id":"717bb56c.b9767c","type":"comment","z":"50d4e969.d2ea08","name":"set up a timed inject","info":"","x":236.42857933044434,"y":137.14286041259766,"wires":[]},{"id":"78be546c.cd3a7c","type":"inject","z":"4da1d64d.601548","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":330,"y":318.3333168029785,"wires":[["8cb2e97a.806fc8"]]},{"id":"407d9ce3.0d9984","type":"websocket out","z":"4da1d64d.601548","name":"","server":"ce122e0a.31948","client":"","x":928.3332977294922,"y":316.6666488647461,"wires":[]},{"id":"4d7dd503.e90c5c","type":"http response","z":"4da1d64d.601548","name":"","x":899.3332977294922,"y":256.6666488647461,"wires":[]},{"id":"175dc5e8.e0d5ca","type":"http in","z":"4da1d64d.601548","name":"","url":"/simple","method":"get","swaggerDoc":"","x":332,"y":258.3333168029785,"wires":[["61beb0ae.7adaa"]]},{"id":"61beb0ae.7adaa","type":"template","z":"4da1d64d.601548","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    \n      <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"icon\" type=\"image/png\" href=\"favicon.png\" />\n    <!--<title>Key&Pad</title>-->\n    <style>\n      /* http://meyerweb.com/eric/tools/css/reset/\n         v2.0 | 20110126\n         License: none (public domain)\n      */\n      html, body, div, span, applet, object, iframe,\n      h1, h2, h3, h4, h5, h6, p, blockquote, pre,\n      a, abbr, acronym, address, big, cite, code,\n      del, dfn, em, img, ins, kbd, q, s, samp,\n      small, strike, strong, sub, sup, tt, var,\n      b, u, i, center,\n      dl, dt, dd, ol, ul, li,\n      fieldset, form, label, legend,\n      table, caption, tbody, tfoot, thead, tr, th, td,\n      article, aside, canvas, details, embed,\n      figure, figcaption, footer, header, hgroup,\n      menu, nav, output, ruby, section, summary,\n      time, mark, audio, video {\n      \tmargin: 0;\n      \tpadding: 0;\n      \tborder: 0;\n      \tfont-size: 100%;\n      \tfont: inherit;\n      \tvertical-align: baseline;\n      }\n      /* HTML5 display-role reset for older browsers */\n      article, aside, details, figcaption, figure,\n      footer, header, hgroup, menu, nav, section {\n      \tdisplay: block;\n      }\n      body {\n      \tline-height: 1;\n      }\n      ol, ul {\n      \tlist-style: none;\n      }\n      blockquote, q {\n      \tquotes: none;\n      }\n      blockquote:before, blockquote:after,\n      q:before, q:after {\n      \tcontent: '';\n      \tcontent: none;\n      }\n      table {\n      \tborder-collapse: collapse;\n      \tborder-spacing: 0;\n      }\n      *, *::before, *::after {\n        box-sizing: border-box;\n      }\n      html, body, #root {\n        height: 100%;\n      }\n      body {\n        background: #f4f7f8;\n        margin: 0;\n        padding: 0;\n      }\n      .loading-screen {\n        background: #2f3233;\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        font-family: 'Lucida Console', monospace;\n        pointer-events: none;\n      }\n      .loader {\n        animation: loader 5s cubic-bezier(.8,0,.2,1) infinite, fadeIn 2s both;\n        height: 40px;\n        width: 41px;\n        position: absolute;\n        top:calc(50% - 20px);\n        left:calc(50% - 20px);\n      }\n      @keyframes loader {\n        90% { transform: rotate(0deg); }\n        100% { transform: rotate(180deg); }\n      }\n      @keyframes fadeIn {\n        from { opacity: 0; }\n        to { opacity: 1; }\n      }\n      .sand-top {\n        animation: sandTop 5s linear infinite;\n        border-top: 20px solid #F3CA4F;\n        border-right: 20px solid transparent;\n        border-left: 20px solid transparent;\n        height: 0px;\n        width: 1px;\n        transform-origin: 50% 100%;\n      }\n      @keyframes sandTop {\n        90% { transform: scale(0); }\n        100% { transform: scale(0);}\n      }\n      .sand-bottom {\n        animation: sandBottom 5s linear infinite;\n        border-right: 20px solid transparent;\n        border-bottom: 20px solid #F3CA4F;\n        border-left: 20px solid transparent;\n        height: 0px;\n        width: 1px;\n        transform: scale(0);\n        transform-origin: 50% 100%;\n      }\n      @keyframes sandBottom {\n        10% { transform: scale(0); }\n        90% { transform: scale(1); }\n        100% { transform: scale(1); }\n      }\n      .sand-line {\n        animation: sandLine 5s linear infinite, sandMotion 100ms linear infinite;\n        border-left: 1px dotted #F3CA4F;\n        height: 0px;\n        width: 0px;\n        position: absolute;\n        top: 20px;\n        left: 20px;\n      }\n      @keyframes sandLine {\n        10% { height: 10px; }\n        100% { height: 10px; }\n      }\n      @keyframes sandMotion {\n        from { transform: translateY(0); }\n        to { transform: translateY(10px); }\n      }\n      .loading-heading {\n        position: absolute;\n        top: 0;\n        bottom: 0;\n        width: 100%;\n        height: 0;\n        margin: auto;\n        transform: translateY(36px);\n        text-align: center;\n        color: #606667;\n        font-size: 22px;\n        font-weight: 500;\n        letter-spacing: -0.5px;\n        animation: loadingHeadingFade 5s infinite;\n      }\n      @keyframes loadingHeadingFade {\n        0% { opacity: 1; }\n        50% { opacity: 0.4; }\n        100% { opacity: 1; }\n      }\n    </style>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        \n        \n         <!--<div id=\"root\"></div>-->\n    \n    <!--<div class=\"loading-screen\">-->\n    <!--  <div class=\"loader\">-->\n    <!--    <div class=\"sand-top\"></div>-->\n    <!--    <div class=\"sand-bottom\"></div>-->\n    <!--    <div class=\"sand-line\"></div>-->\n    <!--  </div>-->\n\n    <!--  <h6 class=\"loading-heading\">Loading</h6>-->\n    <!--</div>-->\n        \n        \n        \n            <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        \n        \n        \n        \n        \n   \n\n\n    </body>\n</html>\n","x":585.5238037109375,"y":135.7619171142578,"wires":[["4d7dd503.e90c5c"]]},{"id":"8cb2e97a.806fc8","type":"function","z":"4da1d64d.601548","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":624.6666717529297,"y":318.3333263397217,"wires":[["407d9ce3.0d9984"]]},{"id":"f428919c.66b2c","type":"websocket in","z":"4da1d64d.601548","name":"","server":"ce122e0a.31948","client":"","x":625.333381652832,"y":373.6666603088379,"wires":[["dd075129.bd3be"]]},{"id":"dd075129.bd3be","type":"debug","z":"4da1d64d.601548","name":"","active":true,"console":"false","complete":"false","x":913.6666641235352,"y":373.6666507720947,"wires":[]},{"id":"dd310db7.cff7f","type":"firebase.on","z":"50d28d0c.7ad734","name":"","firebaseconfig":"d3fb1694.3e0778","childpath":"/cassettes","atStart":true,"eventType":"value","queries":[],"x":724.2500076293945,"y":430.5000066757202,"wires":[["8a0f1bd3.a475e8"]]},{"id":"8a0f1bd3.a475e8","type":"debug","z":"50d28d0c.7ad734","name":"","active":false,"console":"false","complete":"payload","x":1164.750015258789,"y":414.2500057220459,"wires":[]},{"id":"66685b53.d68314","type":"comment","z":"50d28d0c.7ad734","name":"firebase.on() example flow","info":"This flow provides a simple example which\nconnects to the firebase \n[weather](https://publicdata-weather.firebaseio.com/)\n[open data set](https://www.firebase.com/docs/open-data/).\n\nFirebase.on(\"value\") events are fired\nwhenever the weather changes in \nNashville, TN and sent to the debug node.\n\nYou can view the data in the debug tab\nto the right.","x":761.25,"y":212.5,"wires":[]},{"id":"64850258.bc338c","type":"comment","z":"50d28d0c.7ad734","name":"-------------------CLICK ME AND READ THE INFO PANE-------------------","info":"Before clicking the Deploy button,\nYou need to configure login credentials \nfor each node with a Red Triangle (all of \nthe Firebase nodes)\n\nYou can add new credentials by double \nclicking on any firebase node and \nclicking on the pencil icon in the top \nright corner of the edit dialog box. \nOnce you have created a set of credentials\nthey will be available in the drop down\nbox.\n\nFor this example, you will want to set\nFirebase to \"publicdata-weather\" \n(without the quotes) and Auth Type to \nNone.","x":893.75,"y":152.5,"wires":[]},{"id":"abebb9bb.3f4d58","type":"debug","z":"6ff46a19.b63e74","name":"","active":true,"console":"false","complete":"payload","x":996.7500133514404,"y":600.2500047683716,"wires":[]},{"id":"6972fe3f.2ee29","type":"comment","z":"6ff46a19.b63e74","name":"firebase.once() example flow","info":"This flow is the same as the\nfirebase.on() example flow, \nexcept that it uses \nfirebase.once(\"value\") to query Firebase\nin the middle of a flow and return a \nresponse synchronously (as opposed to \nstarting a flow whenever the firebase.on()\nevent is triggered).\n\n\nThe inject node begins the flow\nevery 5 seconds and the debug node logs \nthe weather in San Francisco, CA.","x":359.75,"y":335.5,"wires":[]},{"id":"72a22d71.871914","type":"firebase.once","z":"6ff46a19.b63e74","name":"","firebaseconfig":"d3fb1694.3e0778","childpath":"/actions","repeatifnull":false,"eventType":"value","queries":[],"x":629.25,"y":447.7500057220459,"wires":[["abebb9bb.3f4d58"]]},{"id":"8ba11fc.96160e","type":"inject","z":"6ff46a19.b63e74","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":216.25000190734863,"y":449.0000066757202,"wires":[[]]},{"id":"ae7b0485.e77558","type":"debug","z":"fd0d9c03.3c8c1","name":"","active":false,"console":"false","complete":"true","x":490,"y":570.25,"wires":[]},{"id":"633446d1.9d2a68","type":"catch","z":"fd0d9c03.3c8c1","name":"","scope":null,"x":344,"y":570.25,"wires":[["ae7b0485.e77558"]]},{"id":"534291f5.6453e","type":"firebase modify","z":"fd0d9c03.3c8c1","name":"","firebaseconfig":"87817810.365cd8","childpath":"testpath","method":"set","value":"msg.payload","priority":"","x":721,"y":516.25,"wires":[[]]},{"id":"425a155c.28c26c","type":"inject","z":"fd0d9c03.3c8c1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":238,"y":516.25,"wires":[["f54a2fe8.674f4"]]},{"id":"f54a2fe8.674f4","type":"change","z":"fd0d9c03.3c8c1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Watur\": 1234}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":417,"y":516.25,"wires":[["534291f5.6453e"]]},{"id":"b999e58a.eebbf8","type":"comment","z":"fd0d9c03.3c8c1","name":"Autostart flow","info":"This flow attempts to set data at the \nfirebase location.  \n\nUnfortunately, the open data set firebase\nwe are using has security rules in place\nand we are unauthorized!  \n\nThe set node will fail and generate a \nNode-Red error.  The catch node will \nreceive the message that caused this \nerror and log it to the debug tab.\n\nThis flow is fired once at Deploy time\nand when Node-Red is first started up.\nYou can also click the button on the \ninject node to fire it whenever you like.","x":183.5,"y":479.25,"wires":[]},{"id":"8dde6beb.6c01e8","type":"firebase auth","z":"fd0d9c03.3c8c1","name":"Anon FireBase for Write","firebaseconfig":"87817810.365cd8","x":224.375,"y":335.00000381469727,"wires":[["71397e4e.c27ff"]]},{"id":"71397e4e.c27ff","type":"debug","z":"fd0d9c03.3c8c1","name":"","active":true,"console":"false","complete":"payload","x":580.625,"y":328.75,"wires":[]}]