start
[{"id":"6fdb166a.8db4f8","type":"tab","label":"Flow 1"},{"id":"b1527360.def25","type":"tab","label":"Flow 4"},{"id":"627b057d.ea1c7c","type":"firebase config","z":"","name":"Anon Only","firebaseurl":"watur-a5416","loginType":"anonymous","api":"AIzaSyCgFES8W57WeBOejJYiwwKsn0vQ1AYiTDU","jwt":"[]","admin":false,"debug":false},{"id":"713b4e4c.9f0e","type":"postgresdb","z":"6fdb166a.8db4f8","hostname":"localhost","port":"5432","db":"noderedtest","ssl":false},{"id":"c417ec80.f9d5b","type":"firebase auth","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","x":210.50001525878906,"y":87.2500171661377,"wires":[["c885aab9.4eccc8"]]},{"id":"b034dbbc.181b08","type":"firebase modify","z":"b1527360.def25","name":"","firebaseconfig":"627b057d.ea1c7c","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1020.5000152587891,"y":488.50000680983067,"wires":[[]]},{"id":"c885aab9.4eccc8","type":"change","z":"b1527360.def25","name":"Persist UID w/ Flow Context","rules":[{"t":"set","p":"context.uid","pt":"global","to":"payload.uid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.7500686645508,"y":86.7500171661377,"wires":[["1fbba8cb.023f37"]]},{"id":"260bee1a.81c972","type":"function","z":"b1527360.def25","name":"Inject a Synth Lick as Data","func":"var out = [];\nvar propAsKey = function (oneProp) {\n    var target = Object.keys(oneProp)[0];\n    return oneProp[target];\n};\n\n['actions', 'cassettes'].forEach( function(topic) {\n    \n    // code here\n    var uid = flow.get('uid');\n    var firebasePath = topic + \"/\" + uid;\n\n    var newPayload = propAsKey(msg.payload[topic]);    \n\n    var synthLick = {\n        childpath: firebasePath,\n        payload: JSON.stringify(newPayload)        \n    };\n    \n    out.push(synthLick);\n    \n});\n\n\nreturn out;\n","outputs":"2","noerr":0,"x":554.46435546875,"y":332.78570556640625,"wires":[["e35b4c4.46748b","b034dbbc.181b08"],["b034dbbc.181b08","4f4ba18d.aab2b"]]},{"id":"1fbba8cb.023f37","type":"debug","z":"b1527360.def25","name":" uid in context (global) ?","active":true,"console":"false","complete":"payload.uid","x":990.5000152587891,"y":85.00000095367432,"wires":[]},{"id":"e3389328.4868c","type":"comment","z":"b1527360.def25","name":"Put UID Token into global.context","info":"","x":181.875,"y":51.25000190734863,"wires":[]},{"id":"bcacad1d.3ace7","type":"comment","z":"b1527360.def25","name":"Shape call to a Firebase Resource","info":"","x":178.125,"y":275.00000381469727,"wires":[]},{"id":"e35b4c4.46748b","type":"debug","z":"b1527360.def25","name":"","active":true,"console":"false","complete":"true","x":1058.125015258789,"y":282.50000381469727,"wires":[]},{"id":"139e802.3645e8","type":"inject","z":"6fdb166a.8db4f8","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.9285888671875,"y":93.14285850524902,"wires":[["48f60def.a3bde4"]]},{"id":"5c5b425f.b096bc","type":"template","z":"6fdb166a.8db4f8","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from table1 where field2 > $param1","x":500.50001525878906,"y":94.00000190734863,"wires":[["ea6b935c.9da47"]]},{"id":"ea6b935c.9da47","type":"postgres","z":"6fdb166a.8db4f8","postgresdb":"713b4e4c.9f0e","name":"","output":true,"outputs":1,"x":678.0356864929199,"y":93.92857265472412,"wires":[[]]},{"id":"b617954c.db7858","type":"http request","z":"6fdb166a.8db4f8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/incoming_data","tls":"","x":930.2500152587891,"y":102.00000143051147,"wires":[["e69248fb.420848"]]},{"id":"e69248fb.420848","type":"debug","z":"6fdb166a.8db4f8","name":"http result","active":true,"console":"false","complete":"payload","x":1123.250015258789,"y":99.50000190734863,"wires":[]},{"id":"48f60def.a3bde4","type":"function","z":"6fdb166a.8db4f8","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 1;\nreturn msg;","outputs":1,"noerr":0,"x":300.50001525878906,"y":92.00000190734863,"wires":[["5c5b425f.b096bc"]]},{"id":"e13cc5f4.26cb68","type":"http in","z":"b1527360.def25","name":"","url":"/incoming_data","method":"post","swaggerDoc":"","x":142.5,"y":658.75,"wires":[["78158427.4e375c","ee0efe43.f855f","f4f25c16.0bc84"]]},{"id":"693f6be0.872654","type":"http response","z":"b1527360.def25","name":"","x":746.5,"y":674.75,"wires":[]},{"id":"78158427.4e375c","type":"debug","z":"b1527360.def25","name":"http input","active":false,"console":"false","complete":"payload","x":372.75000381469727,"y":755.5000076293945,"wires":[]},{"id":"ee0efe43.f855f","type":"function","z":"b1527360.def25","name":"reply to http call","func":"msg.payload='payload sent to FireBase';\nreturn msg;","outputs":1,"noerr":0,"x":510.5,"y":608.75,"wires":[["693f6be0.872654"]]},{"id":"b43cb276.31f57","type":"comment","z":"b1527360.def25","name":"Music Objects Input","info":"","x":138.125,"y":592.5000095367432,"wires":[]},{"id":"c490b1d.807df5","type":"change","z":"b1527360.def25","name":"","rules":[{"t":"set","p":"uid","pt":"flow","to":"context.uid","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":209.46430206298828,"y":333.3928470611572,"wires":[["260bee1a.81c972"]]},{"id":"f4f25c16.0bc84","type":"trigger","z":"b1527360.def25","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","name":"","x":381.87500762939453,"y":521.2500076293945,"wires":[["c490b1d.807df5"]]},{"id":"52d90f76.ca7e3","type":"inject","z":"6fdb166a.8db4f8","name":"inject actions, cassettes","topic":"vcr","payload":"{   \"actions\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : [ {       \"delay\" : 0.55499999999995,       \"type\" : \"EFFECTS/CHANGE_AXIS_EFFECT\",       \"y\" : {         \"effect\" : \"delay\"       }     }, {       \"delay\" : 2.8150000000000546,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 12567.11,       \"index\" : 0,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 1664.1900000000005,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 0       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 473.45500000000175,       \"index\" : 1,       \"options\" : {         \"octaveAdjustment\" : 1       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 24672.254999999997,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.47403169014084506,         \"cursorPosition\" : 134.625       }     }, {       \"delay\" : 131.75,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.47403169014084506,         \"cursorPosition\" : 134.625       }     }, {       \"delay\" : 37.25,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4669894366197183,         \"cursorPosition\" : 132.625       }     }, {       \"delay\" : 41.47500000000582,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.45994718309859156,         \"cursorPosition\" : 130.625       }     }, {       \"delay\" : 46.05999999999767,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4564260563380282,         \"cursorPosition\" : 129.625       }     }, {       \"delay\" : 34.35000000000582,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4529049295774648,         \"cursorPosition\" : 128.625       }     }, {       \"delay\" : 36.63499999999476,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.445862676056338,         \"cursorPosition\" : 126.625       }     }, {       \"delay\" : 39.26499999999942,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4352992957746479,         \"cursorPosition\" : 123.625       }     }, {       \"delay\" : 35.20999999999913,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4282570422535211,         \"cursorPosition\" : 121.625       }     }, {       \"delay\" : 42.150000000001455,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 38.23999999999796,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.4141725352112676,         \"cursorPosition\" : 117.625       }     }, {       \"delay\" : 32.669999999998254,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.41065140845070425,         \"cursorPosition\" : 116.625       }     }, {       \"delay\" : 37.41000000000349,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 45.43500000000495,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3965669014084507,         \"cursorPosition\" : 112.625       }     }, {       \"delay\" : 38.20499999999447,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3930457746478873,         \"cursorPosition\" : 111.625       }     }, {       \"delay\" : 34.80999999999767,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.38952464788732394,         \"cursorPosition\" : 110.625       }     }, {       \"delay\" : 39.91000000000349,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 44.595000000001164,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 31.62999999999738,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 211.72500000000582,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 81.87499999999272,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.1619718309859155,         \"cursorPosition\" : 46       },       \"y\" : {         \"amount\" : 0.3824823943661972,         \"cursorPosition\" : 108.625       }     }, {       \"delay\" : 456.52999999999884,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 911.9749999999985,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 463.8700000000026,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 184.27500000000146,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 104.07499999999709,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 151.3550000000032,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 1297.2550000000047,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 28.219999999993888,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 84.70000000000437,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 2963.3849999999948,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     }, {       \"delay\" : 23225.365000000005,       \"index\" : 1,       \"options\" : {         \"detune\" : 35       },       \"type\" : \"OSCILLATORS/UPDATE_OSCILLATOR\"     }, {       \"delay\" : 2550.8150000000023,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 177.77499999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4810739436619718,         \"cursorPosition\" : 136.625       }     }, {       \"delay\" : 35.570000000006985,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.47755281690140844,         \"cursorPosition\" : 135.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4705105633802817,         \"cursorPosition\" : 133.625       }     }, {       \"delay\" : 44.43000000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4564260563380282,         \"cursorPosition\" : 129.625       }     }, {       \"delay\" : 39.504999999990105,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.44938380281690143,         \"cursorPosition\" : 127.625       }     }, {       \"delay\" : 39.545000000012806,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.445862676056338,         \"cursorPosition\" : 126.625       }     }, {       \"delay\" : 41.89499999998952,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.43882042253521125,         \"cursorPosition\" : 124.625       }     }, {       \"delay\" : 42.36500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4352992957746479,         \"cursorPosition\" : 123.625       }     }, {       \"delay\" : 45.64999999999418,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4317781690140845,         \"cursorPosition\" : 122.625       }     }, {       \"delay\" : 51.080000000001746,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.620000000009895,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.42473591549295775,         \"cursorPosition\" : 120.625       }     }, {       \"delay\" : 38.17499999998836,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 42.30500000000757,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4212147887323944,         \"cursorPosition\" : 119.625       }     }, {       \"delay\" : 40.09000000001106,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.4141725352112676,         \"cursorPosition\" : 117.625       }     }, {       \"delay\" : 60.10999999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40713028169014087,         \"cursorPosition\" : 115.625       }     }, {       \"delay\" : 54.245000000009895,       \"letter\" : \"Q\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 67.80499999999302,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 58.61500000000524,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 49.55999999999767,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40360915492957744,         \"cursorPosition\" : 114.625       }     }, {       \"delay\" : 46.054999999993015,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.40008802816901406,         \"cursorPosition\" : 113.625       }     }, {       \"delay\" : 41.51000000000931,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.3930457746478873,         \"cursorPosition\" : 111.625       }     }, {       \"delay\" : 38.92500000000291,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38952464788732394,         \"cursorPosition\" : 110.625       }     }, {       \"delay\" : 42.98499999998603,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 46.19000000001688,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16901408450704225,         \"cursorPosition\" : 48       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 81.8299999999872,       \"type\" : \"EFFECTS/UPDATE_EFFECTS_AMOUNT\",       \"x\" : {         \"amount\" : 0.16549295774647887,         \"cursorPosition\" : 47       },       \"y\" : {         \"amount\" : 0.38600352112676056,         \"cursorPosition\" : 109.625       }     }, {       \"delay\" : 147.60000000000582,       \"letter\" : \"6\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 760.7949999999983,       \"letter\" : \"3\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 34.45000000001164,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"G#4\"     }, {       \"delay\" : 710.4449999999924,       \"letter\" : \"R\",       \"type\" : \"NOTES/ADD_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 861.7949999999983,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"F4\"     }, {       \"delay\" : 32.01499999999942,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"D#4\"     }, {       \"delay\" : 35.28500000000349,       \"type\" : \"NOTES/REMOVE_NOTE\",       \"value\" : \"C4\"     }, {       \"delay\" : 2018.4249999999884,       \"type\" : \"EFFECTS/DEACTIVATE_EFFECTS\",       \"x\" : true,       \"y\" : true     } ]   },   \"cassettes\" : {     \"CetNuhPuFNYwcTrKtpwjmEaEtqi1\" : {       \"initialState\" : {         \"effects\" : {           \"x\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"filter\",             \"options\" : {               \"filterType\" : \"lowpass\",               \"resonance\" : 10             }           },           \"y\" : {             \"active\" : false,             \"amount\" : 0,             \"cursorPosition\" : 0,             \"name\" : \"distortion\",             \"options\" : {               \"amount\" : 0,               \"clarity\" : 1             }           }         },         \"isAdmin\" : false,         \"onboarding\" : {           \"keysPressed\" : 0,           \"padUpdates\" : 0,           \"stage\" : \"completed\"         },         \"oscillators\" : [ {           \"detune\" : 0,           \"gain\" : 0.5,           \"octaveAdjustment\" : 0,           \"waveform\" : \"triangle\"         }, {           \"detune\" : 0,           \"gain\" : 0.15,           \"octaveAdjustment\" : -1,           \"waveform\" : \"square\"         } ]       },       \"numOfActions\" : 71,       \"timestamp\" : 1498672182761     }   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":204.99998474121094,"y":298.57143688201904,"wires":[["f7bbdaa.632c228","b617954c.db7858"]]},{"id":"f7bbdaa.632c228","type":"debug","z":"6fdb166a.8db4f8","name":"","active":false,"console":"false","complete":"false","x":666.4285714285713,"y":497.1428571428571,"wires":[]},{"id":"f2bf039b.f1693","type":"comment","z":"6fdb166a.8db4f8","name":"See Stack Overflow comment","info":"https://stackoverflow.com/a/17579861/738919","x":589.2856903076172,"y":187.14285850524902,"wires":[]},{"id":"4f4ba18d.aab2b","type":"debug","z":"b1527360.def25","name":"","active":true,"console":"false","complete":"true","x":1059.375,"y":342.5,"wires":[]}]